<%- include('partiel/head', { title: "blog" }) %>
<meta name="description" content="   ">
<% if (process.env.NODE_ENV === 'production') { %>
    <script type="module" src="/dist/main.js"></script>
<% } else { %>
    <script type="module" src="http://localhost:5000/@vite/client"></script>
<% } %>
</head>

<body>
    <%- include('partiel/header') %>
    <main id="content-page">
        <section class="barner-short">
            <div class="container">
                    <h1>OUR BLOG
                    </h1>
            </div>
            <img src="images/slider-bottom-pattern.png" alt="pattern">
        </section>
        <% if (typeof data !=="undefined" && data !== null) { %>
         <% if (typeof data.role !=="undefined" && data.role==="admin") { %>
            <div class="create-blog">
                <div class="container">
                <a href="/blog/create-blog"><i class="bi bi-plus-lg"></i> Creer un blog</a>
                </div>
            </div>
         <% } %>
        <% } %>
        
        <section class="AllBlog">
            <div class="container">
                <% if (typeof Allblog !=='undefined' && Allblog.length > 0) { %>
                 <% Allblog.forEach(element => { %>
                    <% if (typeof element !=="undefined" &&  element !== null) { %>
                    <div class="single-blog">
                        <div>
                            <a href="">
                                <img src="<%= element.thumbail || "" %>" alt="<%=element.title %>" />
                            </a>
                            <div class="date-squares">
                                <p><%= new Date(element.date).toLocaleDateString("fr-FR", {
                                    
                                   
                                    day: 'numeric',
                                    
                                })%></p>
                                <p>
                                    <%= new Date(element.date).toLocaleDateString("fr-FR", {
                                    
                                        month: 'long',
                                        
                                    })%>
                                </p>
                               
                            </div>
                        </div>
                        <div class="descri-title">
                            <a href="">
                                <h2 class="name"><%= element.title %></h2>
                            </a>
                            <div class="description">
                                <%- element.description %>
                            </div>
                            <span style="font-weight: bolder;color: rgb(200, 200, 200);">...</span>
                        </div>
                        <div class="dateUser">
                            <div>
                              
                                    <i class="bi bi-calendar2-fill"></i>
                                <p>
                                <%= new Date(element.date).toLocaleDateString("fr-FR", {
                                    month: 'long',
                                    day: 'numeric',
                                    year: 'numeric',
                                })%>
                                </p>
                            </div>
                            <span class="line"></span>
                            <div>
                                <a href="/<%=element.user?element.user.slug:"" %>">
                                    <i class="bi bi-person-fill"></i>
                                   <p>
                                    <%=element.user? element.user.name:"" %>
                                    </p>
                                </a>
                                
                            </div>
                        </div>

                    </div>
                    <% } %>
                 <% }) %>
                <% } %>
            </div>
        </section>
    </main>
    <%- include('partiel/pageLoader') %>
</body>
</html>
