<%- include('partiel/head', { title: "cours" }) %>
<meta name="description" content="   ">
<script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <script src="/js/carrousel-seting.js" defer></script>
</head>

<body>
    <%- include('partiel/header') %>
    <main id="content-page">
        <section class="barner-short">
            <div class="container">
                    <h1>Nos cours
                    </h1>
            </div>
            <img src="images/slider-bottom-pattern.png" alt="pattern">
        </section>
        <div>
            <div class="elem-course">
                <div class="splide" id="my-carousel-nav">
                    <nav  class="splide__track">
                        <ul class="splide__list">
                            <li class="active splide__slide">All</li>
                            <% if (tabCategorie!=='undefined' && tabCategorie.length > 0) { %>
                             <% tabCategorie.forEach(element => { %>
                              <li class="splide__slide"><%= element %></li>
                             <% }) %>
                            <% } %>
                        </ul>
                    </nav>
                </div>
                <div>
                    <div class="container">
                    <div class="elem-course-course element-appears">
                        <div class="allcourse">
                            <% if (typeof courses !=='undefined' && courses.length> 0) { %>
                                <% courses.forEach(element=> { %>
                                    <% if (element.approved==='yes' ) { %>
                                        <div class="course">
                                                        <div class="desc-prof">
                                                            <a href="/cours/<%= element.slug %>">
                                                                <div class="container-widht-anim">
    
                                                                    
                                                                    <img class="img" style="width: 100%;"
                                                                        src="<%= element.thumbail || '' %>"
                                                                        alt="">
                                                                </div>
                                                            </a>
                                                            <div>
                                                                <div class="textLoader">
                                                                    <p class="name">
                                                                        <a
                                                                            href="/profile/cours/<%= element.slug %>">
                                                                            <%= element.name ? element.name
                                                                                : '' %>
                                                                        </a>
                                                                    </p>
                                                                </div>
                                                                <div class="textLoader">
                                                                    <p class="description"><%-
                                                                            element.description ?
                                                                            element.description : '' %></p>
                                                                    <span
                                                                        style="font-weight: bolder;">...</span>
                                                                </div>
                                                                <hr>
                                                                <div class="profilepresent flex-box-text">
                                                                    <a href="/<%= element.user.slug %>">
                                                                    <div>
                                                                        <div class="container-widht-anim">
    
                                                                          
                                                                            <img class="ProfilePicture"
                                                                                src="<%= element.user.profilePicture || '' %>"
                                                                                alt="profile_picture">
    
                                                                        </div>
                                                                        <div class="textLoader">
                                                                       
                                                                                <p class="user">
                                                                                    <%= element.user ?
                                                                                        element.user.name
                                                                                        : 'Inconnu' %>
                                                                                </p>
                                                                           
                                                                            
                                                                        </div>
    
                                                                    </div>
                                                                 </a>
                                                                    <div class="textLoader addCart-price">
    
    
                                                                        <p class="price">
                                                                            <%= element.prix ? element.prix
                                                                                : '' %> XOF
                                                                        </p>
    
                                                                    </div>
    
                                                                </div>
                                                                <form action="" class="form_submit">
                                                                    <button type="submit"
                                                                        title="Add to Card"
                                                                        class="submit add-card">
                                                                        <img class="loader-img"
                                                                            src="/images/spin.png"
                                                                            alt="spinner">
                                                                        <div>
                                                                            <i class="bi bi-cart-fill"></i>
                                                                            <span>Ajouter au panier</span>
                                                                        </div>
                                                                    </button>
                                                                </form>
    
    
                                                            </div>
                                                        </div>
                                                    </div>
                                                 <% } %>
                                <% }) %>
                            <% } %>
                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
    </main>
    <%- include('partiel/pageLoader') %>
    <script>
        let elem_course_course = document.querySelector(".elem-course-course")
        const elem_course_nav = document.querySelectorAll(".elem-course nav li")
         elem_course_nav?.forEach((el, index) => {
                                el.addEventListener("click", () => {
                                    elem_course_nav.forEach(element => {
                                        element.classList.remove("active")
                                        
                                    })
                                    el.classList.add("active")
                                    
                                    
                                   
                                    
                                })
                            })
    </script>
     <%- include('partiel/buttonLoader') %>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    let splide_nav = new Splide('#my-carousel-nav', {
        type       : 'loop',  
        gap        : '0rem',   
        autoplay   : false,       
        pauseOnHover: true,       
        drag       : 'free',      
        perPage    : 3,
        breakpoints: {
            850: {
                perPage: 2,    
            },
            600: {
                perPage: 1,    
            },
        },
    });
    splide_nav.mount();
});

</script>
</body>
</html>
