<!DOCTYPE html>
<%- include('partiel/head',{title:"Dashboard"}) %>
<link rel="stylesheet" href="/styles/dashboard.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

</head>
<body>
    <aside class='aside-dashboard'>
        <p class="title">Dashboard Admin</p>
        <nav>
            <ul>
                <li>
                     <a href="#all" class="active"><i class="bi bi-clipboard-data"></i> All</a>
                </li>
                <li>
                     <a href=""><i class="bi bi-grid-1x2"></i> Publication</a>
                </li>
                <li>
                    <a href="#users"><i class="bi bi-people"></i> Utilisateur</a>
                </li>
                <li>
                     <a href=""><i class="bi bi-currency-dollar"></i>Gain</a>
                </li>
                <li>
                    <a href=""><i class="bi bi-pen"></i>Ecrire</a>
                </li>
            </ul>
        </nav>
        <div class="profil">
            <a href="#Adminprofile">

                <div>
                    <% if (typeof data !=='undefined' && typeof data !==null) { %>
                        <% if (data.profilePicture) { %>
                            <img src="<%= data.profilePicture %>" alt="admin-profile">
                            <% } else { %>
                                <div class="img-loader">
    
                                </div>
                                <% } %>
                                    <p>
                                        <%= data.name || "" %>
                                    </p>
                                    <!-- <p><%= data.email || "" %></p> -->
                                    <% } %>
                </div>
                <i class="bi bi-gear-fill"></i>
            </a>    
        </div>
    </aside>
    <main id="all">
        <section class="all" >
            <div class="head_desc">
                <p>
                    Dashboard
                </p>
                <p>
                    cette section represente une extimation de vos stat global
                </p>
            </div>
            <hr>
            <div class="filter-block">
                <p>Filter par date </p>
                <form action="/dashboard?_method=GET" method="post">
                    <div>
                        <label for="fromDate">du &emsp;</label>
                        <input max="<%= dateNow %>" type="date" value="<%= typeof fromDate !=='undefined' ? fromDate :""
 %>" name="fromDate" id="fromDate">
                    </div>
                    <div>
                        <label for="fromDate"> au &emsp;</label>
                        <input max="<%= dateNow %>" type="date" name="toDate" id="toDate"
                            value="<%= typeof toDate !=='undefined' ? toDate :"" %>">
                    </div>
                    <input type="submit" value="filtrer">
                </form>
            </div>
            <div class="block">
                <div class="element">
                    <div>
                        <p class="name_elem">Value</p>
                        <div>
                            <p class="value"> 23K FCFA</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-coin"></i>
                    </p>
                </div>
                <div class="element">
                    <div>
                        <p class="name_elem">Users</p>
                        <div>
                            <p class="value">
                                <% if (typeof allUsers !=='undefined' && typeof allUsers !==null) { %>
                                    <%= allUsers %>
                                        <% } else { %>
                                            0
                                            <% } %>

                            </p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-people"></i>
                    </p>
                </div>
                <div class="element">
                    <div>
                        <p class="name_elem">Users verifié</p>
                        <div>
                            <p class="value">
                                <% if (typeof usersVerifie !=='undefined' && typeof usersVerifie !==null) { %>
                                    <%= usersVerifie %>
                                        <% } else { %>
                                            0
                                            <% } %>
                            </p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-person-check"></i>
                    </p>
                </div>
                <div class="element">
                    <div>
                        <p class="name_elem">Users non verifié</p>
                        <div>
                            <p class="value">
                                <% if (typeof usersNotVerified !=='undefined' && typeof usersNotVerified !==null) { %>
                                    <%= usersNotVerified %>
                                        <% } else { %>
                                            0
                                            <% } %>
                            </p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-person-exclamation"></i>
                    </p>
                </div>

                <div class="element">
                    <div>
                        <p class="name_elem">Order</p>
                        <div>
                            <p class="value">50</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-graph-up"></i>
                    </p>
                </div>

                <div class="element">
                    <div>
                        <p class="name_elem">Views</p>
                        <div>
                            <p class="value">100</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-eye"></i>
                    </p>
                </div>

                <div class="element">
                    <div>
                        <p class="name_elem">Likes</p>
                        <div>
                            <p class="value">100</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-chat-heart"></i>
                    </p>
                </div>
                <div class="element">
                    <div>
                        <p class="name_elem">Comments</p>
                        <div>
                            <p class="value">50</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-chat-dots"></i>
                    </p>
                </div>
                <div class="element">
                    <div>
                        <p class="name_elem">Nombre de post</p>
                        <div>
                            <p class="value">10</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-postcard"></i>
                    </p>
                </div>
            </div>
            <canvas id="growthChart" width="400" height="150"></canvas>
        </section>
        <section class="users" id="users">
            <table style=" width: 100%;"  id="userTable" class="display">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th class="res_email">Email</th>
                        <th>Status</th>
                        <th>role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% if (typeof usersElem !=='undefined' && typeof usersElem !==null) { %>
                            <% usersElem.forEach(element=> { %>
                                <% if (typeof element !=='undefined' ) { %>
                                    <td class="profileUser">
                                        <img src="<%= element.profilePicture %>" alt="user">
                                        <p>
                                            <%= element.name%>
                                        </p>
                                    </td>
                                    <td class="res_email">
                                        <%= element.email %>
                                    </td>
                                    <td >
                                        <span class="verifiedProfil" style="background-color: <%= element.emailVerified  ? 'rgba(0, 255, 0, 0.169)' :'rgba(255, 0, 0, 0.16)' %>;
                                        color:<%= element.emailVerified  ? 'green' :'red' %>;font-size:13px;">
                                            <%= element.emailVerified ? 'verifié' :'non verifié' %>
                                        </span>
                                    </td>
                                    <td>
                                        <form method="post" action="/dashboard/user/role/<%= element.id %>?_method=PUT">
                                            <select name="role" id="" onchange="this.form.submit()">
                                                <option value="user" <%= element.role == 'user'? 'selected':"" %> >User</option>
                                                <option value="admin"   <%= element.role == 'admin'? 'selected':"" %>>Admin</option>

                                            </select>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" action="/dashboard/user/<%= element.id %>?_method=DELETE">
                                            <button class="deleteUser" onclick="this.form.submit()"><i class="bi bi-trash"></i></button>
                                        </form>
                                    </td>
                    </tr>
                    <% } %>

                        <% }) %>
                            <% } %>
                                <!-- 
    
    role
   -->
                </tbody>
            </table>
        </section>

        <%- include('partiel/disconnect_logout') %>
    </main>








    <%- include('partiel/js') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $('#userTable').DataTable();
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('growthChart').getContext('2d');
  const growthChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['<%=fromDate  %>', '<%= toDate %>'], // Les mois de référence
      datasets: [
        {
          label: 'Users',  // Ligne pour les utilisateurs vérifiés
          data: ["<%= allUsers %>", "<%= allUserlastmont %>"], // Données pour chaque mois
          borderColor: 'black', // Couleur de la ligne
          fill: false,
          tension: 0.1
          
          
          
        },
        {
          label: 'Utilisateurs non vérifiés',  // Ligne pour les utilisateurs non vérifiés
          data: ["<%= usersNotVerified %>", "<%= UserNotVerifielastmont %>"], // Données pour chaque mois
          borderColor: 'red',
          // Couleur différente pour cette ligne
          fill: false,
          tension: 0.1
        },
        {
          label: 'Utilisateurs  vérifiés',  // Ligne pour les utilisateurs non vérifiés
          data: ["<%= usersVerifie %>", "<%= UserVerifielastmont %>"], // Données pour chaque mois
          borderColor: 'rgb(115, 96, 255)', // Couleur différente pour cette ligne
          fill: false,
          tension: 0.1
        }
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true  // Commence l'axe Y à zéro
        }
      }
    }
  });
</script>
        </body>

        </html>