<!DOCTYPE html>
<%- include('partiel/head',{title:"Dashboard"}) %>
    <aside>
        <p class="title">Dashboard Admin</p>
        <nav>
            <ul>
                <li>
                    <i class="bi bi-clipboard-data"></i> <a href="/dashboard/all">All</a>
                </li>
                <li>
                    <i class="bi bi-grid-1x2"></i>  <a href="/dashboard/publication">Publication</a>
                </li>
                <li>
                    <i class="bi bi-people"></i><a href="/dashboard/users">Utilisateur</a>
                </li>
                <li>
                    <i class="bi bi-currency-dollar"></i> <a href="/dashboard/Gain">Gain</a>
                </li>
                <li>
                    <i class="bi bi-pen"></i><a href="/dashboard/ecrire">Ecrire</a>
                </li>
            </ul>
        </nav>
        <div class="profil">
            <div>
                <% if (typeof data !=='undefined' && typeof data !== null) { %>
                    <% if (data.profilePicture) { %>
                        <img src="<%= data.profilePicture %>" alt="">
                    <% } else { %>
                         <div class="img-loader">
    
                         </div>
                    <% } %>
                    <p><%= data.name || "" %></p>
                    <!-- <p><%= data.email || "" %></p> -->
                <% } %>
            </div>
            <i class="bi bi-gear-fill"></i>

        </div>
    </aside>
    <main>
        <section class="all">
            <p>
                DAshboard
            </p>
            <p>
                cette section represente une extimation de vos stat global
            </p>
            <hr>
            <div class="block"> 
                <div class="element">
                    <div>
                        <p class="name_elem">Value</p>
                        <div>
                            <p class="value"> 23K  FCFA</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-coin"></i>
                    </p>
                </div>  
                <div class="element">
                    <div>
                        <p class="name_elem">Users</p>
                        <div>
                            <p class="value">100</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-people"></i>
                    </p>
                </div>  

                <div class="element">
                    <div>
                        <p class="name_elem">Order</p>
                        <div>
                            <p class="value">50</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-graph-up"></i>
                    </p>
                </div>  

                <div class="element">
                    <div>
                        <p class="name_elem">Views</p>
                        <div>
                            <p class="value">100</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-eye"></i>
                    </p>
                </div>  

                <div class="element">
                    <div>
                        <p class="name_elem">Likes</p>
                        <div>
                            <p class="value">100</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-chat-heart"></i>                    </p>
                </div>  
                <div class="element">
                    <div>
                        <p class="name_elem">Comments</p>
                        <div>
                            <p class="value">50</p>
                            <span class="increase_or_not">+1.3</span>
                        </div>
                    </div>
                    <p class="log">
                        <i class="bi bi-chat-dots"></i>
                    </p>
                </div>  
            </div>
        </section>

        <%- include('partiel/disconnect_logout') %>
    </main>








    <%- include('partiel/js') %>
</body>
</html>
