<%- include('partiel/head',{title:"Home"}) %>
    <meta name="description" content="   ">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    </head>

    <body>
        
        <%- include('partiel/header') %>
        <main class="home-main" id="content-page">
                <section class="barner">
                    <div class="container">
                        <div>
                            <h1>Commencez à apprendre et à acquérir de nouvelles compétences pour un avenir meilleur
                            </h1>
                            <p>Avec l'aide de l'apprentissage en ligne, créez votre propre parcours et développez vos
                                compétences par vous-même pour atteindre ce que vous recherchez.</p>
                            <div>
                                <a href="">Voir tous les cours</a>
                            </div>
                        </div>
                        <img src="images/banner.png" alt="barner">
                    </div>
                    <img src="images/slider-bottom-pattern.png" alt="pattern">

                </section>
                <section class="choose">
                    <div class="container">

                   
                    <div class="intro-title">
                        <h2>Pourquoi choisir l'apprentissage en ligne</h2>
                        <p>Regardez-vous en vous-même, sachez que vous êtes ambitieux  et continuez d’avancer jusqu’à ce que <br> vous obteniez quelque chose en retour comme accomplissement.</p>
                    </div>
                    <div class="allAvantage">
                        <div>
                            <div class="icon">
                                <i class="bi bi-postcard-fill"></i>
                            </div>
                            <div>
                                <h3>Accessibilité des cours</h3>
                                <p>Sélectionnez un cours adapté parmi la vaste gamme d’autres cours et accédez-y à tout moment et de n’importe où.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-mortarboard-fill"></i>
                            </div>
                            <div>
                                <h3>Bourses d'études</h3>
                                <p>Pour encourager le talent, nous accordons jusqu'à 100 % d'aide aux jeunes apprenants qui ont la capacité de faire quelque chose.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-globe2"></i>                            </div>
                            <div>
                                <h3>Apprentissage pratique</h3>
                                <p>Interagissez avec le monde réel tout en réalisant le projet du monde réel et d'autres choses pour maîtriser vos compétences.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-person-fill"></i>                            </div>
                            <div>
                                <h3>Instructions d’expert </h3>
                                <p>Saisissez l’opportunité d’apprendre auprès d’experts du secteur et apprenez à exécuter des tâches similaires.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-headphones"></i>    
                                </div>                       
                                 <div>
                                <h3>Planifiez votre apprentissage</h3>
                                <p>Apprenez quand vous le souhaitez, à l'heure et à l'endroit qui vous conviennent. Obtenez un diplôme d'études à temps partiel.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-person-arms-up"></i>                                                </div>
                            <div>
                                <h3>Séances enregistrées</h3>
                                <p>Vous avez manqué le cours en direct ? Ne vous inquiétez pas, vous avez accès à toutes les séances du cours choisi.</p>
                            </div>

                        </div>
                    </div>
                </div>
                </section>
                <section class="variete-course">
<div class="container">
    <div class="intro-title">
        <h2>Découvrez la variété des cours ici</h2>
        <p>Choisissez un cours approprié pour vous parmi les nombreux cours disponibles <br> sur cette plateforme.</p>
    </div>
    <div>
        <div class="elem-course">
            <nav>
                <ul>
                    <li class="active">Cours</li>
                    <li>Modifier le profile</li>
                    <li>Paramétre</li>
                </ul>
            </nav>
            <div>
                <div class="elem-course-course element-appears">
                    <div class="allcourse">
                        <% if (typeof courses !=='undefined' && courses.length> 0) { %>
                            <% courses.forEach(element=> { %>
                                <% if (element.approved==='yes' ) { %>
                                    <div class="course">
                                            
                                            
                                        


                                                    <div class="desc-prof">
                                                        <a href="/cours/<%= element.slug %>">
                                                            <div class="container-widht-anim">

                                                                <div class="n"></div>
                                                                <img class="img" style="width: 100%;"
                                                                    src="<%= element.thumbail || '' %>"
                                                                    alt="">
                                                            </div>

                                                        </a>
                                                        <div>
                                                            <div class="textLoader">
                                                                <p class="name">
                                                                    <a
                                                                        href="/profile/cours/<%= element.slug %>">
                                                                        <%= element.name ? element.name
                                                                            : '' %>
                                                                    </a>
                                                                </p>

                                                            </div>
                                                            <div class="textLoader">
                                                                <p class="description"><%-
                                                                        element.description ?
                                                                        element.description : '' %></p>
                                                                <span
                                                                    style="font-weight: bolder;">...</span>
                                                            </div>
                                                            <hr>
                                                            <div class="profilepresent flex-box-text">
                                                                <a href="/<%= element.user.slug %>">
                                                                <div>
                                                                    <div class="container-widht-anim">

                                                                        <div class="n"></div>
                                                                        <img class="ProfilePicture"
                                                                            src="<%= element.user.profilePicture || '' %>"
                                                                            alt="profile_picture">

                                                                    </div>
                                                                    <div class="textLoader">
                                                                   
                                                                            <p class="user">
                                                                                <%= element.user ?
                                                                                    element.user.name
                                                                                    : 'Inconnu' %>
                                                                            </p>
                                                                       
                                                                        
                                                                    </div>

                                                                </div>
                                                             </a>
                                                                <div class="textLoader addCart-price">


                                                                    <p class="price">
                                                                        <%= element.prix ? element.prix
                                                                            : '' %> XOF
                                                                    </p>

                                                                </div>

                                                            </div>
                                                            <form action="" class="form_submit">
                                                                <button type="submit"
                                                                    title="Add to Card"
                                                                    class="submit add-card">
                                                                    <img class="loader-img"
                                                                        src="/images/spin.png"
                                                                        alt="spinner">
                                                                    <div>
                                                                        <i class="bi bi-cart-fill"></i>
                                                                        <span>Ajouter au panier</span>
                                                                    </div>
                                                                </button>
                                                            </form>


                                                        </div>
                                                    </div>
                                                </div>
                                             <% } %>
                            <% }) %>
                        <% } %>
                                
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
<section class="equipe">
    <div class="container">

    
    <div class="intro-title">
        <h2>Equipe d'experts</h2>
        <p>Ici, vous aurez une équipe d'experts issus de divers secteurs et vous apprendrez d'eux <br> grâce à leur expérience et à leurs conseils éthiques.</p>
    </div>
    <div>
        <div class="splide" id="my-carousel">
            <div class="splide__track">
                <ul class="splide__list">
                    <% if (users !=='undefined' && users!==null && users.length>0) { %>
                        <% users.forEach(element => { %>
                            <li class="splide__slide">
                               <div class="splite-image">
                                   <img src="<%= element.profilePicture || "" %>" alt="<%= element.name %>">
                                   <div>
                                    <div>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-twitter-x"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                        <a href=""><i class="bi bi-youtube"></i></a>
                                    </div>
                                   </div>
                               </div>
                               <div class="cell-right">
                                   <div class="testimonial-name"><%= element.name %>
                                   </div>
                                   <div class="testimonial-job"><%= element.poste %>
                                   </div>
                               </div>
                           </li>
                        <% }) %>
                       <% } %>
                       <li class="splide__slide">
                        <div class="splite-image">
                            <img src="/images/coverProfile/images1.webp" >
                            <div>
    
                            </div>
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">gerard
                            </div>
                            <div class="testimonial-job">designer
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="splite-image">
                            <img src="/images/coverProfile/images2.webp" >
                            <div>
                                <i class="bi bi-facebook"></i>
                            </div>
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">grerad
                            </div>
                            <div class="testimonial-job">developeur
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="splite-image">
                            <img src="/images/coverProfile/images3.webp" >
                            <div>
    
                            </div>
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">grerad
                            </div>
                            <div class="testimonial-job">developeur
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <div class="container">
        <div class="intro-title">
            <h2>Nos tarifs
            </h2>
            <p>Rejoignez-nous et devenez un acteur de la révolution
            </p>
        </div>
        <div class="pricing-box-container">
            <div class="pricing-box text-center">
                <h5>Basic</h5>
                <p class="price"><sup>Fcfa</sup> 20.000 /Mo</p>
                <ul class="features-list">
                    <li> Cours en accès illimité</li>
                    <li>Rapport d'avancement disponible</li>
                    <li>------</li>
                    <li>------</li>
                </ul>
                <button class="btn-primary">Get Started</button>
            </div>
        
            <div class="pricing-box pricing-box-bg-image text-center">
                <h5>Standard</h5>
                <p class="price"><sup>Fcfa</sup> 30.000 /Mo</p>
                <ul class="features-list">
                    <li>Cours en accès illimité</li>
                    <li>Rapport d'avancement disponible</li>
                    <li>Vidéos haute résolution</li>
                    <li>Certificat après achèvement</li>
                    <li>------</li>

                </ul>
                <button class="btn-primary">Get Started</button>
            </div>
        
            <div class="pricing-box text-center">
                <h5>Premium</h5>
                <p class="price"><sup>Fcfa</sup> 40.000 /Mo</p>
                <ul class="features-list">
                    <li>Cours en accès illimité</li>
                    <li>Rapport d'avancement disponible</li>
                    <li>Vidéos haute résolution</li>
                    <li>Certificat après achèvement</li>
                    <li>Séances privées</li>
                </ul>
                <button class="btn-primary">Get Started</button>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="intro-title">
        <h2>Notre blog
        </h2>
        <p>Lisez quelques mots et découvrez ce que font les personnes qualifiées ou quelle <br>technologie deviendrait révolutionnaire pour le monde

        </p>
    </div>
</section>
            </main>
            

            <%- include('partiel/buttonLoader') %>

            <%- include('partiel/loader') %>
            <%- include('partiel/pageLoader') %>
            <script>
                   document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('#my-carousel', {
            type       : 'loop',  
            gap        : '2rem',   
            autoplay   : true,       
            pauseOnHover: true,       
            drag       : 'free',      
            perPage    : 3,
            breakpoints: {
                850: {
                    perPage: 2,    
                },
                600: {
                    perPage: 1,    
                },
            },
        });

        splide.mount();
    });
            </script>
    </body>

    </html>