<%- include('partiel/head',{title:"Home"}) %>
    <meta name="description" content="   ">
    <script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <script src="/js/carrousel-seting.js" defer></script>
    </head>

    <body>
        
        <%- include('partiel/header') %>
        <main class="home-main" id="content-page">
                <section class="barner">
                    <div class="container">
                        <div>
                            <h1>Learn and develop new skills <br> for a better future.
                            </h1>
                            <p>Enhance your abilities with our trusted training platform<br> We guide ambitious individuals toward excellence and career growth</p>
                            <div>
                                <a href="">View all courses</a>
                            </div>
                        </div>
                        
                    </div>
                    <img src="images/slider-bottom-pattern.png" alt="pattern">

                </section>
                <section class="choose">
                    <div class="container">

                   
                    <div class="intro-title">
                        <h2>Why choose Maneliza Training Centre?</h2>
                        <p>Believe in your ambition and move forward until <br> you achieve the success you deserve.</p>
                    </div>
                    <div class="allAvantage">
                        <div>
                            <div class="icon">
                                <i class="bi bi-postcard-fill"></i>
                            </div>
                            <div>
                                <h3>Course Accessibility</h3>
                                <p>Choose a suitable course from a wide range of others and access it anytime, anywhere.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-mortarboard-fill"></i>
                            </div>
                            <div>
                                <h3>Recognized Certification & Diploma</h3>
                                <p>At the end of your training, you will receive a state-recognized certificate or diploma(DQP) that allows you to position yourself in the job market.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-globe2"></i>                            </div>
                            <div>
                                <h3>Practical Learning</h3>
                                <p>Interact with the real world by working on real-world projects and other activities to master your skills.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-person-fill"></i>                            </div>
                            <div>
                                <h3>Expert Instructions</h3>
                                <p>Take the opportunity to learn from industry experts and learn how to perform similar tasks.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-headphones"></i>    
                                </div>                       
                                 <div>
                                <h3>Plan Your Learning</h3>
                                <p>Learn when you want, at a time and place that suits you. Obtain a part-time diploma.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-person-arms-up"></i>                                                </div>
                            <div>
                                <h3>Recorded Sessions</h3>
                                <p>Missed the live class? Don’t worry, you have access to all the sessions of the course you chose.</p>
                            </div>

                        </div>
                    </div>
                </div>
                </section>
                <section class="variete-course">
<div class="container">
    <div class="intro-title">
        <h2>Explore the variety of courses here</h2>
        <p>Choose a course that suits you from the many available online and locally</p>
    </div>
    <div class="in-person-training">
        <p>In-person training</p>
        <div class="cours-list">
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/image-place-holder.avif" alt="Computerised" />
                </div>
                <h2>Computerised Accounting and Management</h2>
                <p>Unlock the power of modern accounting! Learn how to manage financial data...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(1)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/webdev.avif" alt="webdev" />
                </div>
                <h2>Webmaster / Web Developer</h2>
                <p>Transform your web development skills into a career! Learn to design and build responsive websites...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(2)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/image-place-holder (5).avif" alt="webdev" />
                </div>
                <h2>Computer Maintenance</h2>
                <p>Master the art of computer maintenance! From troubleshooting hardware issues to optimizing software...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(3)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/hairdressing.avif" alt="webdev" />
                </div>
                <h2>Professional Hairdresser</h2>
                <p>Unleash your creativity in the beauty industry! This course will teach you advanced hairdressing techniques...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(4)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/beauty-care.avif" alt="webdev" />
                </div>
                <h2>Beauty Care / Cosmetology</h2>
                <p>Become an expert in skincare and beauty treatments! Learn the essentials of cosmetology, including... care.</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(5)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/secretariat.avif" alt="webdev" />
                </div>
                <h2>Office Automation Secretaryship</h2>
                <p>Enhance your administrative skills! Learn the latest office automation tools and techniques that will...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(6)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/accounting-secretariat.avif" alt="webdev" />
                </div>
                <h2>Accounting Secretaryship</h2>
                <p>Step into the world of accounting with a professional edge! This course will teach you how...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(7)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/image-place-holder (3).avif" alt="webdev" />
                </div>
                <h2>English Language for IELTS</h2>
                <p>Prepare for your IELTS exam with confidence! Improve your reading, writing, speaking, and listening ...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(8)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/image-place-holder (4).avif" alt="webdev" />
                </div>
                <h2>Fashion Designing and Sewing</h2>
                <p>Bring your fashion ideas to life! Learn the fundamentals of fashion design and sewing techniques...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(9)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/restaurant.avif" alt="webdev" />
                </div>
                <h2>Hotel Management - Kitchen - Bar - Restaurant</h2>
                <p>Start a career in the hospitality industry! Learn the ins and outs of hotel and restaurant management...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(10)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/image-place-holder (2).avif" alt="webdev" />
                </div>
                <h2>Digital Marketing</h2>
                <p>Become a master of digital marketing! From social media management to SEO, content creation, and data...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(11)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            
        </div>

        <div id="course-details" class="details">
            <section class="barner-short">
                <div class="container">
                    <h2 id="course-title">details du cours</h2>
                </div>
                <img src="/images/slider-bottom-pattern.png" alt="pattern">
            </section>
            <!-- <button id="close-details" onclick="closeCourseDetails()">Fermer</button> -->
             <div class='detail-content'>

                <h2 id="course-title"> Course details</h2>
                <div>
                    <p>description</p>
                    <p id="course-description"></p>
                </div>
                <div>
                    <p>duration</p>
                    <p id="course-duration"></p>
                </div>
                <div>
                    <p>certification</p>
                    <p id="course-certification"></p>
                </div>
                <div>
                    <p>requirements</p>
                    <p id="course-requirements"></p>
                </div>
                
                <div id="course-navigation">
                    <button id="prev" onclick="changeCourse('prev')">Précédent</button>
                    <button id="next" onclick="changeCourse('next')">Suivant</button>
                    <button id="back" onclick="backToList()">Retour à la liste</button>
                </div>
             </div>
            
        </div>
    </div>
    
    <div>
        <div class="elem-course">
            
            <div>
                <div class="elem-course-course element-appears">
                    <div class="allcourse">
                        <% if (typeof courses !=='undefined' && courses.length> 0) { %>
                            <% courses.forEach(element=> { %>
                                <% if (element.approved==='yes' ) { %>
                                    <div class="course" style="position: relative;">
                                        <div style="padding: 5px;background-color: rgb(0, 155, 0); position: absolute;top: 10px;right: 10px;z-index: 5;font-size: 13px;border-radius: 4px;font-weight: 600;color: white;">
                                            recommandé
                                        </div>
                                                    <div class="desc-prof">
                                                        <a href="/cours/<%= element.slug %>">
                                                            <div class="container-widht-anim">

                                                                
                                                                <img class="img" style="width: 100%;"
                                                                    src="<%= element.thumbail || '' %>"
                                                                    alt="">
                                                            </div>
                                                        </a>
                                                        <div>
                                                            <div class="textLoader">
                                                                <p class="name">
                                                                    <a
                                                                        href="/profile/cours/<%= element.slug %>">
                                                                        <%= element.name ? element.name
                                                                            : '' %>
                                                                    </a>
                                                                </p>
                                                            </div>
                                                            
                                                            <hr>
                                                            
                                                            <div class="profilepresent flex-box-text" style="padding-block: 10px;">
                                                                <a class="profileUserTeacher" href="/<%= element.user.slug %>">
                                                                <div>
                                                                    <div class="container-widht-anim">

                                                                      
                                                                        <img class="ProfilePicture"
                                                                            src="<%= element.user.profilePicture || '' %>"
                                                                            alt="profile_picture">

                                                                    </div>
                                                                    <div class="textLoader">
                                                                   
                                                                            <p class="user">
                                                                                <%= element.user ?
                                                                                    element.user.name
                                                                                    : 'Inconnu' %>
                                                                            </p>
                                                                       
                                                                        
                                                                    </div>

                                                                </div>
                                                             </a>
                                                                <div class="textLoader addCart-price">


                                                                    <p class="price">
                                                                        <%= element.prix ?
                                                                        element.prix
                                                                        : 'Inconnu' %> XOF
                                                                    </p>

                                                                </div>

                                                            </div>
                                                         
                                                                <form action="/card/<%= element.slug %>" class="form_submit" method="POST">
                                                                    <button type="submit"
                                                                        title="Add to Card"
                                                                        class="submit add-card">
                                                                        <img class="loader-img"
                                                                            src="/images/spin.png"
                                                                            alt="spinner">
                                                                        <div>
                                                                            <i class="bi bi-cart-fill"></i>
                                                                            <span>ça m'intéresse</span>
                                                                        </div>
                                                                    </button>
                                                                </form>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                             <% } %>
                            <% }) %>
                        <% } %>
                                
                    </div>
                </div>
            </div>
    </div>
    <div class="create-blog" style="margin-top: 40px;">
        
        <a href="/cours"><i class="bi bi-plus-lg"></i> Voir plus...</a>
        
    </div>
</div>
</section>
<section style="margin-top: 80px;" class="container  stats">
<div>
    <img src="/images/students.png" alt="eleves">
    <p>2000+</p>
    <p>élèves</p>
</div>
<div>
    <img src="/images/courses.png" alt="eleves">
    <p>200+</p>
    <p>cours</p>
</div>
<div>
    <img src="/images/certified-teachers.png" alt="eleves">
    <p>100+</p>
    <p>Professeur certifié</p>
</div>
<div>
    <img src="/images/award-winning.png" alt="eleves">
    <p>10+</p>
    <p>Recompenses</p>
</div>

</section>
<section class="equipe">
    <div class="container">

    
    <div class="intro-title">
        <h2>Equipe d'experts</h2>
        <p>Ici, vous aurez une équipe d'experts issus de divers secteurs et vous apprendrez d'eux <br> grâce à leur expérience et à leurs conseils éthiques.</p>
    </div>
    <div>
        <div class="splide" id="my-carousel">
            <div class="splide__track">
                <ul class="splide__list">
                    <% if (users !=='undefined' && users!==null && users.length>0) { %>
                        <% users.forEach(element => { %>
                            <li class="splide__slide">
                               <div class="splite-image">
                                   <img src="<%= element.profilePicture || "" %>" alt="<%= element.name %>">
                                   <div>
                                    <div>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-twitter-x"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                        <a href=""><i class="bi bi-youtube"></i></a>
                                    </div>
                                   </div>
                               </div>
                               <div class="cell-right">
                                   <div class="testimonial-name"><%= element.name %>
                                   </div>
                                   <div class="testimonial-job"><%= element.poste %>
                                   </div>
                               </div>
                           </li>
                        <% }) %>
                       <% } %>
                       <li class="splide__slide box-carouss">
                        <div class="splite-image">
                            <img src="/images/coverProfile/images1.webp" >
                            <div>
    
                            </div>
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">gerard
                            </div>
                            <div class="testimonial-job">designer
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="splite-image">
                            <img src="/images/coverProfile/images2.webp" >
                            <div>
                                <i class="bi bi-facebook"></i>
                            </div>
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">grerad
                            </div>
                            <div class="testimonial-job">developeur
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="splite-image">
                            <img src="/images/coverProfile/images3.webp" >
                            <div>
    
                            </div>
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">grerad
                            </div>
                            <div class="testimonial-job">developeur
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <div class="container">
        <div class="intro-title">
            <h2>Nos tarifs
            </h2>
            <p>Rejoignez-nous et devenez un acteur de la révolution
            </p>
        </div>
        <div class="pricing-box-container">
            <div class="pricing-box text-center">
                <h3>Basic</h3>
                <p class="price"><sup>Fcfa</sup> 20.000 /Mo</p>
                <ul class="features-list">
                    <li> Cours en accès illimité</li>
                    <li>Rapport d'avancement disponible</li>
                    <li>------</li>
                    <li>------</li>
                </ul>
                <button class="btn-primary">Get Started</button>
            </div>
        
            <div class="pricing-box pricing-box-bg-image text-center">
                <h3>Standard</h3>
                <p class="price"><sup>Fcfa</sup> 30.000 /Mo</p>
                <ul class="features-list">
                    <li>Cours en accès illimité</li>
                    <li>Rapport d'avancement disponible</li>
                    <li>Vidéos haute résolution</li>
                    <li>Certificat après achèvement</li>
                    <li>------</li>

                </ul>
                <button class="btn-primary">Get Started</button>
            </div>
        
            <div class="pricing-box text-center">
                <h3>Premium</h3>
                <p class="price"><sup>Fcfa</sup> 40.000 /Mo</p>
                <ul class="features-list">
                    <li>Cours en accès illimité</li>
                    <li>Rapport d'avancement disponible</li>
                    <li>Vidéos haute résolution</li>
                    <li>Certificat après achèvement</li>
                    <li>Séances privées</li>
                </ul>
                <button class="btn-primary">Get Started</button>
            </div>
        </div>
    </div>
</section>
<section >
    <div class="intro-title container">
        <h2>Notre blog
        </h2>
        <p>Lisez quelques mots et découvrez ce que font les personnes qualifiées ou quelle <br>technologie deviendrait révolutionnaire pour le monde
        </p>
    </div>
    <section class="AllBlog">
        <div class="container">
            <% if (typeof Recentblogs !=='undefined' && Recentblogs.length > 0) { %>
             <% Recentblogs.forEach(element => { %>
                <% if (typeof element !=="undefined" &&  element !== null) { %>
                <div class="single-blog">
                    <div>
                        <a href="/blog/<%= element.slug %>">
                            <img src="<%= element.thumbail || "" %>" alt="<%=element.title %>" />
                        </a>
                        <div class="date-squares">
                            <p><%= new Date(element.date).toLocaleDateString("fr-FR", {
                                
                               
                                day: 'numeric',
                                
                            })%></p>
                            <p>
                                <%= new Date(element.date).toLocaleDateString("fr-FR", {
                                
                                    month: 'long',
                                    
                                })%>
                            </p>
                           
                        </div>
                    </div>
                    <div class="desc-date">
                        <div class="descri-title">
                            <a href="/blog/<%= element.slug %>">
                                <h2 class="name"><%= element.title %></h2>
                            </a>
                            
                        </div>
                        <div class="dateUser">
                            <div>
                                    <i class="bi bi-calendar2-fill"></i>
                                <p>
                                <%= new Date(element.date).toLocaleDateString("fr-FR", {
                                    month: 'long',
                                    day: 'numeric',
                                    year: 'numeric',
                                })%>
                                </p>
                            </div>
                            <span class="line"></span>
                            <div>
                                <a href="/<%=element.user.slug%>">
                                    <img style="width: 40px; height: 40px;object-fit: cover; border-radius: 50%;" class="ProfilePicture" src="<%= element.user.profilePicture %>" alt="profilePicture">
                                    <p>
                                    <%=element.user? element.user.name:"" %>
                                    </p>
                                </a>
                                
                            </div>
                        </div>
    
                    </div>

                </div>
                <% } %>
             <% }) %>
            <% } %>
        </div>
    </section>
    <div class="create-blog" style="margin-top: 40px;">
    <div class="container">

        <a href="/blog"><i class="bi bi-plus-lg"></i> Voir plus...</a>
    </div>
    
</div>
</section>
<section class="avis">
    <div class="container">
        <div class="intro-title">
            <h2>Voir ce que d'autres réalisent grâce à l'apprentissage</h2>
            <p>Decouvrez quelques avis de ceux qui suivent nos formations.</p>
        </div>
        <div class="Avis-list">
            <div style="padding: 20px;border: 1px solid #163568;border-radius: 15px;position: relative; height: 360px;">
                <img style="width: 30px;" src="/svg/quote.svg" alt="QUOTES">
                <p style="margin-top: 15px;margin-bottom: 40px;">Maneliza training a réellement <b> changé la donne et a été un vrai guide </b> pour moi dans la création de Vtc-site.</p>
                <div style="color: rgb(130, 130, 130);position: absolute;bottom: 30px;">
                    <div style="display: flex;align-items: center;gap: 15px;margin-bottom: 15px;font-size: 12px;">
                        <img style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;" src="/images/christian.jpg" alt="christian.picture">
                        <div>
                            <p>Christian Lonzi</p>
                            <p>Developpeur web fullstack á GL Market</p>
                        </div>
                    </div>
                    <div>
                        <a href="/cours" style="color: rgb(44, 123, 44); ">voir les cours <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div style="padding: 20px;border: 1px solid #163568;border-radius: 15px;position: relative; height: 360px;">
                <img style="width: 30px;" src="/svg/quote.svg" alt="QUOTES">
                <p style="margin-top: 15px;margin-bottom: 40px;">Maneliza training vous donne la possibilité d'être persévérant. J'ai appris exactement ce que j'avais besoin de savoir dans la vraie vie. La plate-forme m'a aidé à me mettre en valeur pour <b> trouver un nouveau poste.</b></p>
                <div style="color: rgb(130, 130, 130);position: absolute;bottom: 30px;">
                    <div style="display: flex;align-items: center;gap: 15px;margin-bottom: 15px;font-size: 12px;">
                        <img style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;" src="/images/francoise.jpeg" alt="christian.picture">
                        <div>
                            <p>Françoise Mane</p>
                            <p>Comptable </p>
                        </div>
                    </div>
                    <div>
                        <a href="/cours" style="color: rgb(44, 123, 44); ">voir les cours <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div style="padding: 20px;border: 1px solid #163568;border-radius: 15px;position: relative; height: 360px;">
                <img style="width: 30px;" src="/svg/quote.svg" alt="QUOTES">
                <p style="margin-top: 15px;margin-bottom: 40px;">Grâce à Maneliza training, les employés ont réussi à associer compétences technologiques et compétences comportementales en tant que consultants, ce qui leur a permis <b> d'évoluer dans leur carrière.</b></p>
                <div style="color: rgb(130, 130, 130);position: absolute;bottom: 30px;">
                    <div style="display: flex;align-items: center;gap: 15px;margin-bottom: 15px;font-size: 12px;">
                        <img style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;" src="/images/michel.jpg" alt="christian.picture">
                        <div>
                            <p>Michel hirtz</p>
                            <p>Designer á X-marketing Agency </p>
                        </div>
                    </div>
                    <div>
                        <a href="/cours" style="color: rgb(44, 123, 44); ">voir les cours <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</section>
<section class="Faq">
<div class="container">
    <div class="intro-title">
        <h2>FAQ</h2>
        <p>Découvrez quelques questions récemment posées.</p>
    </div>
    <div>
        
    </div>
</div>
</section>
            </main>
            

            <%- include('partiel/pageLoader') %>
            <script>
      

    let elem_course_course = document.querySelector(".elem-course-course")
    const elem_course_nav = document.querySelectorAll(".elem-course nav li")
    const allcourse = document.querySelector(".allcourse")

    

   async function filterCourse(categorie){
        let courses =[]
        
        try{
            let response =await fetch(`http://localhost:5000/cours/AllCourse?categorie=${categorie}`)
            if(response.ok){
                courses = await response.json()
                return
            }
            else{
                console.log("une erreur est survenue");
                return
            }
        }
        catch(err){
            console.log("une erreur ese survenue");
            
        }
        

        let foundCourse = false
        if(typeof courses !=="undefined" && courses.length>0){
            allcourse.innerHTML=""
            courses.forEach(element=>{
                if(categorie ==="All"){
                    foundCourse = true
                     const course = document.createElement("div")
                    course.className="course"
                    course.innerHTML=` <div class="desc-prof">
                                                        <a href="/cours/${element.slug}">
                                                            <div class="container-widht-anim">

                                                                
                                                                <img class="img" style="width: 100%;"
                                                                    src="${element.thumbail || ''}"
                                                                    alt="">
                                                            </div>

                                                        </a>
                                                        <div>
                                                            <div class="textLoader">
                                                                <p class="name">
                                                                    <a
                                                                        href="/profile/cours/${element.slug }">
                                                                        ${ element.name ? element.name
                                                                            : '' }
                                                                    </a>
                                                                </p>

                                                            </div>
                                                            <div class="textLoader">
                                                                <p class="description">${
                                                                        element.description ?
                                                                        element.description : '' }</p>
                                                                <span
                                                                    style="font-weight: bolder;">...</span>
                                                            </div>
                                                            <hr>
                                                            <div class="profilepresent flex-box-text">
                                                                <a href="/${ element.user.slug }">
                                                                <div>
                                                                    <div class="container-widht-anim">

                                                                      
                                                                        <img class="ProfilePicture"
                                                                            src="${ element.user.profilePicture || '' }"
                                                                            alt="profile_picture">

                                                                    </div>
                                                                    <div class="textLoader">
                                                                   
                                                                            <p class="user">
                                                                                ${ element.user ?
                                                                                    element.user.name
                                                                                    : 'Inconnu' }
                                                                            </p>
                                                                       
                                                                        
                                                                    </div>

                                                                </div>
                                                             </a>
                                                                <div class="textLoader addCart-price">


                                                                    <p class="price">
                                                                        ${ element.prix ? element.prix
                                                                            : '' } XOF
                                                                    </p>

                                                                </div>

                                                            </div>
                                                            <form action="" class="form_submit">
                                                                <button type="submit"
                                                                    title="Add to Card"
                                                                    class="submit add-card">
                                                                    <img class="loader-img"
                                                                        src="/images/spin.png"
                                                                        alt="spinner">
                                                                    <div>
                                                                        <i class="bi bi-cart-fill"></i>
                                                                        <span>Ajouter au panier</span>
                                                                    </div>
                                                                </button>
                                                            </form>


                                                        </div>
                                                    </div>
                                                </div>  `
                   allcourse.appendChild(course)
                   
                }
                if (element.categorie === categorie) {
                    foundCourse = true
                     const course = document.createElement("div")
                    course.className="course"
                    course.innerHTML=` <div class="desc-prof">
                                                        <a href="/cours/${element.slug}">
                                                            <div class="container-widht-anim">

                                                                
                                                                <img class="img" style="width: 100%;"
                                                                    src="${element.thumbail || ''}"
                                                                    alt="">
                                                            </div>

                                                        </a>
                                                        <div>
                                                            <div class="textLoader">
                                                                <p class="name">
                                                                    <a
                                                                        href="/profile/cours/${element.slug }">
                                                                        ${ element.name ? element.name
                                                                            : '' }
                                                                    </a>
                                                                </p>

                                                            </div>
                                                            <div class="textLoader">
                                                                <p class="description">${
                                                                        element.description ?
                                                                        element.description : '' }</p>
                                                                <span
                                                                    style="font-weight: bolder;">...</span>
                                                            </div>
                                                            <hr>
                                                            <div class="profilepresent flex-box-text">
                                                                <a href="/${ element.user.slug }">
                                                                <div>
                                                                    <div class="container-widht-anim">

                                                                      
                                                                        <img class="ProfilePicture"
                                                                            src="${ element.user.profilePicture || '' }"
                                                                            alt="profile_picture">

                                                                    </div>
                                                                    <div class="textLoader">
                                                                   
                                                                            <p class="user">
                                                                                ${ element.user ?
                                                                                    element.user.name
                                                                                    : 'Inconnu' }
                                                                            </p>
                                                                       
                                                                        
                                                                    </div>

                                                                </div>
                                                             </a>
                                                                <div class="textLoader addCart-price">


                                                                    <p class="price">
                                                                        ${ element.prix ? element.prix
                                                                            : '' } XOF
                                                                    </p>

                                                                </div>

                                                            </div>
                                                            <form action="" class="form_submit">
                                                                <button type="submit"
                                                                    title="Add to Card"
                                                                    class="submit add-card">
                                                                    <img class="loader-img"
                                                                        src="/images/spin.png"
                                                                        alt="spinner">
                                                                    <div>
                                                                        <i class="bi bi-cart-fill"></i>
                                                                        <span>Ajouter au panier</span>
                                                                    </div>
                                                                </button>
                                                            </form>


                                                        </div>
                                                    </div>
                                                </div>  `
                   allcourse.appendChild(course)
                   
                }
                
            })
            if(!foundCourse){
                    allcourse.innerHTML=`Aucun cours n'appartient a cette categorie`
            }

        }

    }
    
                            elem_course_nav.forEach((el, index) => {
                                el.addEventListener("click", () => {
                                    elem_course_nav.forEach(element => {
                                        element.classList.remove("active")
                                        
                                    })
                                    el.classList.add("active")
                                    filterCourse(el.textContent.trim())
                                    console.log(el.textContent);
                                    
                                   
                                    
                                })
                            })



                            
            </script>
                        <%- include('partiel/buttonLoader') %>

    </body>

    </html>