<%- include('partiel/head',{title:"Home"}) %>
    <meta name="description" content="   ">
    <script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link rel="stylesheet" media="print" onload="this.media='all'" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <script src="/js/carrousel-seting.js" defer></script>
    </head>

    <body>
        
        <%- include('partiel/header') %>
        <main class="home-main" id="content-page">
                <section class="barner">
                    <div class="container">
                        <div>
                            <h1>Learn and develop new skills <br> for a better future.
                            </h1>
                            <p>Enhance your abilities with our trusted training platform<br> We guide ambitious individuals toward excellence and career growth</p>
                            <div>
                                <a href="">View all courses</a>
                            </div>
                        </div>
                        
                    </div>
                    <img src="images/slider-bottom-pattern.png" alt="pattern">

                </section>
                <section class="choose">
                    <div class="container">

                   
                    <div class="intro-title">
                        <h2>Why choose Maneliza Training Centre?</h2>
                        <p>Believe in your ambition and move forward until <br> you achieve the success you deserve.</p>
                    </div>
                    <div class="allAvantage">
                        <div>
                            <div class="icon">
                                <i class="bi bi-postcard-fill"></i>
                            </div>
                            <div>
                                <h3>Course Accessibility</h3>
                                <p>Choose a suitable course from a wide range of others and access it anytime, anywhere.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-mortarboard-fill"></i>
                            </div>
                            <div>
                                <h3>Recognized Certification & Diploma</h3>
                                <p>At the end of your training, you will receive a state-recognized certificate or diploma(DQP) that allows you to position yourself in the job market.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-globe2"></i>                            </div>
                            <div>
                                <h3>Practical Learning</h3>
                                <p>Interact with the real world by working on real-world projects and other activities to master your skills.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-person-fill"></i>                            </div>
                            <div>
                                <h3>Expert Instructions</h3>
                                <p>Take the opportunity to learn from industry experts and learn how to perform similar tasks.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-headphones"></i>    
                                </div>                       
                                 <div>
                                <h3>Plan Your Learning</h3>
                                <p>Learn when you want, at a time and place that suits you. Obtain a part-time diploma.</p>
                            </div>

                        </div>
                        <div>
                            <div class="icon">
                                <i class="bi bi-person-arms-up"></i>                                                </div>
                            <div>
                                <h3>Recorded Sessions</h3>
                                <p>Missed the live class? Don’t worry, you have access to all the sessions of the course you chose.</p>
                            </div>

                        </div>
                    </div>
                </div>
                </section>
                <section class="variete-course">
<div class="container">
    <div class="intro-title">
        <h2>Explore the variety of courses here</h2>
        <p>Choose a course that suits you from the many available online and locally</p>
    </div>
    <div class="in-person-training">
        <p>In-person training</p>
        <div class="cours-list">
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/image-place-holder.avif" alt="Computerised" />
                </div>
                <h2>Computerised Accounting and Management</h2>
                <p>Unlock the power of modern accounting! Learn how to manage financial data...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(1)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/webdev.avif" alt="webdev" />
                </div>
                <h2>Webmaster / Web Developer</h2>
                <p>Transform your web development skills into a career! Learn to design and build responsive websites...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(2)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/image-place-holder (5).avif" alt="webdev" />
                </div>
                <h2>Computer Maintenance</h2>
                <p>Master the art of computer maintenance! From troubleshooting hardware issues to optimizing software...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(3)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/hairdressing.avif" alt="webdev" />
                </div>
                <h2>Professional Hairdresser</h2>
                <p>Unleash your creativity in the beauty industry! This course will teach you advanced hairdressing techniques...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(4)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/beauty-care.avif" alt="webdev" />
                </div>
                <h2>Beauty Care / Cosmetology</h2>
                <p>Become an expert in skincare and beauty treatments! Learn the essentials of cosmetology, including... care.</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(5)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/secretariat.avif" alt="webdev" />
                </div>
                <h2>Office Automation Secretaryship</h2>
                <p>Enhance your administrative skills! Learn the latest office automation tools and techniques that will...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(6)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/accounting-secretariat.avif" alt="webdev" />
                </div>
                <h2>Accounting Secretaryship</h2>
                <p>Step into the world of accounting with a professional edge! This course will teach you how...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(7)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/image-place-holder (3).avif" alt="webdev" />
                </div>
                <h2>English Language for IELTS</h2>
                <p>Prepare for your IELTS exam with confidence! Improve your reading, writing, speaking, and listening ...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(8)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/image-place-holder (4).avif" alt="webdev" />
                </div>
                <h2>Fashion Designing and Sewing</h2>
                <p>Bring your fashion ideas to life! Learn the fundamentals of fashion design and sewing techniques...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(9)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/restaurant.avif" alt="webdev" />
                </div>
                <h2>Hotel Management - Kitchen - Bar - Restaurant</h2>
                <p>Start a career in the hospitality industry! Learn the ins and outs of hotel and restaurant management...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(10)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            <div class="cours" >
                <div class="img-view">
                    <img src="/images/image-place-holder (2).avif" alt="webdev" />
                </div>
                <h2>Digital Marketing</h2>
                <p>Become a master of digital marketing! From social media management to SEO, content creation, and data...</p>
                <div class="cours-btns">
                    <button onclick="showCourseDetails(11)">Learn more</button>
                    <a>Apply now</a>
                </div>
            </div>
            
        </div>

        <div id="course-details" class="details">
            <section class="barner-short">
                <div class="container">
                    <h2 id="course-title">details du cours</h2>
                </div>
                <img src="/images/slider-bottom-pattern.png" alt="pattern">
            </section>
            <!-- <button id="close-details" onclick="closeCourseDetails()">Fermer</button> -->
             <div class='detail-content'>

                <div>
                    <p>Description</p>
                    <p id="course-description"></p>
                </div>
                <div>
                    <p>Duration</p>
                    <p id="course-duration"></p>
                </div>
                <div>
                    <p>Certification</p>
                    <p id="course-certification"></p>
                </div>
                <div>
                    <p>Requirements</p>
                    <p id="course-requirements"></p>
                </div>
                <a href="" >Apply now</a>
                
                <div id="course-navigation">
                    <button id="prev" onclick="changeCourse('prev')"><< Previous course</button>
                    <button id="back" onclick="backToList()">Go Back</button>
                    <button id="next" onclick="changeCourse('next')">Next course >></button>
                </div>
             </div>
            
        </div>
    </div>
    
</div>
</section>
<section style="margin-top: 80px;" class="container  stats">
<div>
    <img src="/images/students.png" alt="eleves">
    <p>100+</p>
    <p>Students
    </p>
</div>
<div>
    <img src="/images/courses.png" alt="eleves">
    <p>20+</p>
    <p>Courses</p>
</div>
<div>
    <img src="/images/certified-teachers.png" alt="eleves">
    <p>15+</p>
    <p>Certified Teacher</p>
</div>
<div>
    <img src="/images/award-winning.png" alt="eleves">
    <p>5+</p>
    <p>Rewards</p>
</div>

</section>
<section class="equipe">
    <div class="container">

    
    <div class="intro-title">
        <h2>Team of Experts</h2>
        <p>Here, you will have a team of experts from various sectors,  and you will <br/> learn from them through their experience and ethical advice.</p>
    </div>
    <div>
        <div class="splide" id="my-carousel">
            <div class="splide__track">
                <ul class="splide__list">
                    <% if (users !=='undefined' && users!==null && users.length>0) { %>
                        <% users.forEach(element => { %>
                            <li class="splide__slide">
                               <div class="splite-image">
                                   <img src="<%= element.profilePicture || "" %>" alt="<%= element.name %>">
                                   <div>
                                    <div>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-twitter-x"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                        <a href=""><i class="bi bi-youtube"></i></a>
                                    </div>
                                   </div>
                               </div>
                               <div class="cell-right">
                                   <div class="testimonial-name"><%= element.name %>
                                   </div>
                                   <div class="testimonial-job"><%= element.poste %>
                                   </div>
                               </div>
                           </li>
                        <% }) %>
                       <% } %>
                       <li class="splide__slide box-carouss">
                        <div class="splite-image">
                            <img src="/images/coverProfile/images1.webp" >
                            <div>
    
                            </div>
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">gerard
                            </div>
                            <div class="testimonial-job">designer
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="splite-image">
                            <img src="/images/coverProfile/images2.webp" >
                            <div>
                                <i class="bi bi-facebook"></i>
                            </div>
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">grerad
                            </div>
                            <div class="testimonial-job">developeur
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="splite-image">
                            <img src="/images/coverProfile/images3.webp" >
                            <div>
    
                            </div>
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">grerad
                            </div>
                            <div class="testimonial-job">developeur
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <div class="container">
        <div class="intro-title">
            <h2>Our Rates
            </h2>
            <p>Join us and become a part of the revolution.
            </p>
        </div>
        <div class="pricing-box-container">
            <div class="pricing-box text-center">
                <h3>Short course</h3>
                <p class="price"><sup>Fcfa</sup> 20.000 /Mo</p>
                <ul class="features-list">
                    <li>6+ Months</li>
                    <li>Unlimited course access</li>
                    <li>Final exam</li>
                    <li>Graduation at the end of the course</li>
                    <li>Certificate of completion</li>
                </ul>
                <button class="btn-primary">Apply now</button>
            </div>
        
            <div class="pricing-box pricing-box-bg-image text-center">
                <h3>Long course</h3>
                <p class="price"><sup>Fcfa</sup> - - - - - - /year</p>
                <ul class="features-list">
                    <li>The fees depend of your speciality</li>
                    <li>12+ Months + Final exam</li>
                    <li>Unlimited course access</li>
                    <li>Graduation at the end of the course</li>
                    <li>Diploma of completion</li>

                </ul>
                <button class="btn-primary">Apply now</button>
            </div>
        
            <div class="pricing-box text-center">
                <h3>Find a Job?</h3>
                <p class="price"><sup>Fcfa</sup>- - - - -</p>
                <ul class="features-list">
                    <li>Access to career-focused courses</li>
                    <li>Personalized job search guidance</li>
                    <li>Mock interviews and resume reviews</li>
                    <li>Certificate to boost your resume</li>
                    <li>One-on-one coaching with industry experts</li>
                </ul>
                <button class="btn-primary">Apply now</button>
            </div>
        </div>
    </div>
</section>
<section >
    <div class="intro-title container">
        <h2>Our Blog
        </h2>
        <p>Read a few words and discover what qualified individuals are <br/> doing or which technology is set to become revolutionary for the world.
        </p>
    </div>
    <section class="AllBlog">
        <div class="container">
            <% if (typeof Recentblogs !=='undefined' && Recentblogs.length > 0) { %>
             <% Recentblogs.forEach(element => { %>
                <% if (typeof element !=="undefined" &&  element !== null) { %>
                <div class="single-blog">
                    <div>
                        <a href="/blog/<%= element.slug %>">
                            <img src="<%= element.thumbail || "" %>" alt="<%=element.title %>" />
                        </a>
                        <div class="date-squares">
                            <p><%= new Date(element.date).toLocaleDateString("fr-FR", {
                                
                               
                                day: 'numeric',
                                
                            })%></p>
                            <p>
                                <%= new Date(element.date).toLocaleDateString("fr-FR", {
                                
                                    month: 'long',
                                    
                                })%>
                            </p>
                           
                        </div>
                    </div>
                    <div class="desc-date">
                        <div class="descri-title">
                            <a href="/blog/<%= element.slug %>">
                                <h2 class="name"><%= element.title %></h2>
                            </a>
                            
                        </div>
                        <div class="dateUser">
                            <div>
                                    <i class="bi bi-calendar2-fill"></i>
                                <p>
                                <%= new Date(element.date).toLocaleDateString("fr-FR", {
                                    month: 'long',
                                    day: 'numeric',
                                    year: 'numeric',
                                })%>
                                </p>
                            </div>
                            <span class="line"></span>
                            <div>
                                <a href="/<%=element.user.slug%>">
                                    <img style="width: 40px; height: 40px;object-fit: cover; border-radius: 50%;" class="ProfilePicture" src="<%= element.user.profilePicture %>" alt="profilePicture">
                                    <p>
                                    <%=element.user? element.user.name:"" %>
                                    </p>
                                </a>
                                
                            </div>
                        </div>
    
                    </div>

                </div>
                <% } %>
             <% }) %>
            <% } %>
        </div>
    </section>
    <div class="create-blog" style="margin-top: 40px;">
    <div class="container">

        <a href="/blog"><i class="bi bi-plus-lg"></i> see more...</a>
    </div>
    
</div>
</section>
<section class="avis">
    <div class="container">
        <div class="intro-title">
            <h2>See What Others Are Achieving Through Learning</h2>
            <p>Discover some testimonials from those who are taking our courses.</p>
        </div>
        <div class="Avis-list">
            <div style="padding: 20px;border: 1px solid #163568;border-radius: 15px;position: relative; height: 360px;">
                <img style="width: 30px;" src="/svg/quote.svg" alt="QUOTES">
                <p style="margin-top: 15px;margin-bottom: 40px;">Maneliza training truly changed the game and was a real guide for me in creating my bussness.</p>
                <div style="color: rgb(130, 130, 130);position: absolute;bottom: 30px;">
                    <div style="display: flex;align-items: center;gap: 15px;margin-bottom: 15px;font-size: 12px;">
                        <img style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;" src="/images/christian.jpg" alt="christian.picture">
                        <div>
                            <p>Christian Lonzi</p>
                            <p>IT manager</p>
                        </div>
                    </div>
                    <div>
                        <a href="/cours" style="color: rgb(44, 123, 44); ">see courses<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div style="padding: 20px;border: 1px solid #163568;border-radius: 15px;position: relative; height: 360px;">
                <img style="width: 30px;" src="/svg/quote.svg" alt="QUOTES">
                <p style="margin-top: 15px;margin-bottom: 40px;">Thanks to Maneliza training, employees were able to combine technical skills with behavioral skills as consultants, which allowed them to advance in their careers.</b></p>
                <div style="color: rgb(130, 130, 130);position: absolute;bottom: 30px;">
                    <div style="display: flex;align-items: center;gap: 15px;margin-bottom: 15px;font-size: 12px;">
                        <img style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;" src="/images/francoise.jpeg" alt="christian.picture">
                        <div>
                            <p>Françoise Mane</p>
                            <p>Accountant </p>
                        </div>
                    </div>
                    <div>
                        <a href="/cours" style="color: rgb(44, 123, 44); ">see courses<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div style="padding: 20px;border: 1px solid #163568;border-radius: 15px;position: relative; height: 360px;">
                <img style="width: 30px;" src="/svg/quote.svg" alt="QUOTES">
                <p style="margin-top: 15px;margin-bottom: 40px;">Maneliza training gives you the opportunity to be persistent. I learned exactly what I needed to know for real-life situations. The platform helped me showcase my skills to find a new position.</b></p>
                <div style="color: rgb(130, 130, 130);position: absolute;bottom: 30px;">
                    <div style="display: flex;align-items: center;gap: 15px;margin-bottom: 15px;font-size: 12px;">
                        <img style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;" src="/images/michel.jpg" alt="christian.picture">
                        <div>
                            <p>Michel hirtz</p>
                            <p>Designer at X-marketing Agency</p>
                        </div>
                    </div>
                    <div>
                        <a href="/cours" style="color: rgb(44, 123, 44); ">see courses<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</section>
<!-- <section class="Faq">
<div class="container">
    <div class="intro-title">
        <h2>FAQ</h2>
        <p>Découvrez quelques questions récemment posées.</p>
    </div>
    <div>
        
    </div>
</div>
</section> -->
<section>
    <div class="container">
        <div class="intro-title">
            <h2>Laissez un message</h2>
            <p>Si vous avez des questions concernant nos cours, notre corps professoral ou nos projets, <br> laissez-nous un message ici, nous vous répondrons dans les plus brefs délais.</p>
        </div>
        <% if (typeof message !=='undefined' && message !==null && message.success ) { %>
            <div class="new-sucess disapied">
                <p >
                <i class="bi bi-check-circle"></i>
                <%= message.success %>
                </p>
                <i class="bi bi-x"></i>
            </div>
                <% } %>
                <% if (typeof message !=='undefined' && message.error ) { %>
                    <div class="new-error disapied">
                        <p>
                            <i class="bi bi-exclamation-triangle"></i>
                        <%= message.error %>
                        </p>
                        <i class="bi bi-x"></i>
                    </div>
                        <% } %>
    <div class="form-contact">
        <form action="/send-email" class="form_submit_contact form_submit" method="post">
            <% if ( typeof error !=='undefined' && error !== null) { %>
                <div class="new-error disapied">
                    <p>
                        <i class="bi bi-exclamation-triangle"></i>
                    <%= error %>
                    </p>
                    <i class="bi bi-x"></i>
                </div>
            <% } %>
         <div class="field_contact_form">
            <div>
                <label for="firstName">Nom</label>
                <div>
                    <input autocomplete="off"  type="text" id="firstName" name="firstName" value="<%=typeof message !=='undefined' &&typeof message.firstName !==" undefined" ?
                        message.firstName : "" %>">

                    <% if (typeof message !=='undefined' && typeof message.error_msg_field_firstName !=='undefined') { %>
                        <span class="err-message">
                            <%= message.error_msg_field_firstName %>
                        </span>
                    <% } %>
                </div>
            </div>
            <div>
                <label for="prenom">Prénom</label>
                <div>
                    <input autocomplete="off"  type="text" id="prenom" name="lastName"
                        value="<%=typeof message !=='undefined' &&typeof message.lastName !==" undefined" ?
                        message.lastName : "" %>">

                    <% if (typeof message !=='undefined' && typeof message.error_msg_field_lastName !=='undefined') { %>
                        <span class="err-message">
                            <%= message.error_msg_field_lastName %>
                        </span>
                    <% } %>
                </div>
            </div>
            <div>
                <label for="email">Email</label>
                <div>
                    <input autocomplete="off"  type="email" id="email" name="email"
                        value="<%=typeof message !=='undefined' &&typeof message.email !==" undefined" ?
                        message.email : "" %>">

                    <% if (typeof message !=='undefined' && typeof message.error_msg_field_email !=='undefined') { %>
                        <span class="err-message">
                            <%= message.error_msg_field_email %>
                        </span>
                    <% } %>
                </div>
            </div>
            <div>
                <label for="phone">Phone</label>
                <div>
                    <input autocomplete="off"  type="number" id="phone" name="phone"
                        value="<%=typeof message !=='undefined' &&typeof message.phone !==" undefined" ?
                        message.phone : "" %>">

                    <% if (typeof message !=='undefined' && typeof message.error_msg_field_phone !=='undefined') { %>
                        <span class="err-message">
                            <%= message.error_msg_field_phone %>
                        </span>
                    <% } %>
                </div>
            </div>
            
        </div>
        <div class="textarea_form_contact">
            <label for="Message">Message</label>
            <div>
                <textarea rows="12" autocomplete="off" name="message" id="Message" value="<%=typeof message !=='undefined' && typeof message.password !== 'undefined'? message.password : '' %>"></textarea>
            </div>
            
            <% if (typeof message !=='undefined' && typeof message.error_msg_field_Message !=='undefined') { %>
                <span class="err-message">
                    <%= message.error_msg_field_Message %>
                </span>
            <% } %>
        </div>
        <div>
            <button type="submit" style="display: flex;align-items: center;gap: 10px;width: 100%;justify-content: center;" class="submit" >Envoyer<img class="loader-img" src="/images/spin.png" alt="spinner"></button>
        </div>
            
        </form>
        <div class="follow_location">
<div>
<i class="bi bi-geo-alt-fill"></i>
<p>Yaounde,Kumba Cameroun</p>
</div>
<div>
<i class="bi bi-telephone-fill"></i>
<p>+237 673 25 90 41</p>
</div>
<div>
<i class="bi bi-envelope-fill"></i>
<p>manelizatrainingcentre@gmail.com</p>
</div>
<div>
<i class="bi bi-ev-station-fill"></i>
<p>673 25 90 41</p>
</div>
        </div>
    </div>
</div>
</section>
            </main>
            

            <%- include('partiel/pageLoader') %>
                        <%- include('partiel/buttonLoader') %>

    </body>

    </html>