<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
   <form action="/api/auth/login" method="post">
        <p class="ins_conn">Se connecter</p>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="<%=typeof email !=="undefined" ? email : ""  %>">
            <span>
                <% if (typeof error_msg_field_email !== 'undefined' && error_msg_field_email.length > 0) { %>
                    <%= error_msg_field_email %>
                <% } %>
            </span>
            <p><% if (typeof email_notExist !== 'undefined' ) { %>
               <%= email_notExist %>
            <% } %></p>
        </div>
        <div>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" value="<%= typeof password !== 'undefined'? password : '' %>" />
            <span>
                <% if (typeof password_length !== 'undefined') { %>
                    <%= password_length %>
                <% } %>
                <% if (typeof error_msg_field_password !== 'undefined') { %>
                    <%= error_msg_field_password %>
                <% } %>
                <% if (typeof incorrect_password !== 'undefined') { %>
                    <%= incorrect_password %>
                <% } %>

                
            </span>
        </div>
        <div>
            <input type="submit" class="submit" value="Se connecter">
        </div>
        <p>
            <a class="btn_cons_reg" href="/register">S'inscrire</a>
        </p>
   </form> 
   
</body>
</html>
