<%- include('partiel/head', {title: "Profile"}) %>
</head>
<body >
    <div class="profile-bl-user">

    
    <%- include('partiel/header') %>
<!-- <div>

    <%= message && message.message?message.message : '' %>
    <%= message ? message : '' %>
</div>
-->
<div class="container">
<p class="marge"></p>

<% if (typeof data !== 'undefined' && data !== null) { %>
    <div class="profile-view-infos">
        <div>
            <a href="<%= data.profilePicture || '' %>">
                <img class="" src="<%= data.profilePicture || '' %>" alt="profile_picture">
            </a>
        </div>
        <div>
            <div>
                <p><%= data.name || '' %>
                    <% if (data.role=='professeur') { %>
                        <% if (data.approved==='wait') { %>
                         <span class="At">En attente</span>
                         <% } else if(data.approved==='yes'){ %>
                          <span class="vr">vérifié</span>
                          <% } else { %>
                           <span class="nv">Non vérifié</span>
                        <% } %>
                     
                    <% } %>
                </p>
                <div>
                    <p>Travaille chez Maneliza global</p>
                    <p>Cmaroon yaounde Kumba</p>
                </div>
                <div>
                    <span>Web development</span>
                </div>
                
            </div>
            <a href=""><i class="bi bi-send-fill"></i> Envoyé un message</a>
        </div>
            
    </div>
    <div class="profile-view-about">
        
        <h4>About me</h4>
        <div class="about-profile-page">
           <div>
            <p>Salut , je m'appelle <%= data.name %></p>
            <p>Travaille chez Maneliza global au Cameroon yaounde Kumba</p>
          </div>
        <p><%= data.aboutYou ? data.aboutYou : '' %></p>
        <div class="shadow-about"></div>
       
    </div>
    <button class="read_more">Voir plus ...</button>
    </div>
    <div>
        <nav>
            <ul>
                <li>Cours</li>
                <li>Modifier le profile</li>
                <li>Paramétre</li>
            </ul>
        </nav>
        <div>
            <div>
                <p>cliquer sur le cours pour voir ou ajouter des modification</p>
                <% if (typeof course !== 'undefined' && course.length > 0) { %>
                    <% course.forEach(element => { %>
                        <% if (element.approved ==='wait') { %>
                                 <p><i class="bi bi-exclamation-circle"></i> votre cours est cours de vérification! <a href="">  A savoir plus sur les rêgles de validations</a></p>
                        <% } else if (element.approved ==='yes') { %>
                            <p><i class="bi bi-check-circle"></i></i> vérifié </p>
                            <% } else { %>
                                <p><i class="bi bi-x-circle"></i></i>Non vérifié </p>
                        <% } %>
                    <a href="/profile/cours/<%= element.slug %>">
                            
                        <div>
                            <img style="width: 100%;" src="<%= element.thumbail || '' %>" alt="">
                            <p><%= element.name ? element.name : '' %></p>
                            <p><%= element.user ? element.user.name : 'Inconnu' %></p>
                            <p><%= element.prix ? element.prix : '' %></p>
                            <p><%= element.courseTime ? element.courseTime : '' %></p>
                        </div></a>
                    <% }) %>
                <% } %>
            </div>

        </div>
        <p class="text-red-400">Modifier le profil</p>
        <form action="/profile/update_profile/<%= data.id %>?_method=PUT" enctype="multipart/form-data" method="post">
            <div class="previewPicture">
                <img style="width: 40px; height:40px" src="<%= data.profilePicture || '' %>" alt="" id="previewImage">
                <button class="changeImage">Importer 🔽</button>
            </div>
            <input class="profil-infos" type="file" name="profilePicture" id="profilePicture" accept="image/*" hidden>
            <input class="profil-infos" type="text" id="name" name="name" value="<%= data.name %>">
            <textarea class="profil-infos" name="aboutYou"><%= data.aboutYou ? data.aboutYou : '' %></textarea>
            <input class="email" type="email" name="email" id="email" value="<%= data.email || '' %>">
            <input class="py-16 password" type="password" name="password" value="          ">
            <input class="profil-infos" type="datetime" name="DateOfBirth" value="<%= data.DateOfBirth ? data.DateOfBirth.toISOString().slice(0,10).replaceAll('-', '/') : '' %>" placeholder="MM-JJ-YY">
            <input class="role" type="text" name="role" id="role" value="<%= data.role || '' %>">
            <input id="submit" type="submit" value="Modifier">
        </form>
    </div>
<% } %>


</div>
</div>
<%- include('partiel/disconnect_logout') %>
<%- include('partiel/js') %>
                                <script>
                                    const read_more = document.querySelector(".read_more")
                                    const Paragraph_about = document.querySelector(".about-profile-page>p:nth-child(2)")
                                    const shadow_about = document.querySelector(".shadow-about")
                                    const previewImage = document.querySelector("#previewImage")
                                    const profilePicture = document.querySelector("#profilePicture")
                                    const roleInput = document.querySelector(".role").setAttribute("disabled", "true")
                                    const passwordInput = document.querySelector(".password").setAttribute("disabled", "true")
                                    const emailInput = document.querySelector(".email").setAttribute("disabled", "true")
                                    const submitInput = document.querySelector("#submit")
                                    const changeImage = document.querySelector(".changeImage")
                                    const allInput = document.querySelectorAll(".profil-infos")
                                    submitInput.setAttribute("disabled", "true")
                                    const tab = []
                                    allInput.forEach(el => {
                                        tab.push(el.value)
                                    })
                                    allInput.forEach((el, index) => {
                                        el.addEventListener("input", (e) => {
                                            const value = e.target.value
                                            console.log(value)
                                            if (value !== tab[index]) {
                                                return submitInput.removeAttribute("disabled")
                                            }
                                            submitInput.setAttribute("disabled", "true")

                                        })
                                    })
                                    console.log(tab)
                                    console.log(allInput)
                                    changeImage.addEventListener("click", (e) => {
                                        e.preventDefault()
                                        profilePicture.click()
                                    })
                                    profilePicture.addEventListener('change', (e) => {
                                        const file = e.target.files[0]
                                        console.log(file)
                                        if (file && file.type.startsWith('image/')) {
                                            const reader = new FileReader()
                                            reader.onload = function (e) {
                                                previewImage.src = e.target.result;
                                            }
                                            reader.readAsDataURL(file)
                                        }
                                    })
                                    let isClick = false
                                    read_more.addEventListener("click",()=>{
                                        isClick = !isClick

                                        if(isClick===true){
                                            read_more.textContent="voir moins"
                                            Paragraph_about.style.height='auto'
                                            shadow_about.style.display='none'
                                        }
                                        else{
                                            read_more.textContent="voir plus..."
                                             Paragraph_about.style.height='110px'
                                             shadow_about.style.display='block'


                                        }

                                    })
                                    
                                </script>
    </body>

    </html>