<%- include("partiel/head",{title:'update or delete Course'}) %>
<script src="https://cdn.tiny.cloud/1/jca0kkt1o2e9qy99ct1fclet3s9mjswkrk2ywmv7xh8v3kwb/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <%- include("partiel/tinymces")%>

        </head>

        <body>
            <%- include("partiel/header") %>
                <div>

                    <%=typeof message !=='undefined' && message && message.message?message.message : '' %>
                        <%=typeof message !=='undefined' && message ? message : '' %>
                </div>


                <!--affiche  le cour-->

                <% if (typeof course !=='undefined' && course.length> 0) { %>
                    <% course.forEach(element=> { %>
                        <div class="aboutCourse">
                            <button class="modify">Modifier le cours</button>
                            <form action="/profile/cours/<%= element.slug %>?_method=DELETE" method="post">
                                <input type="submit" value="Supprimer le cours">
                            </form>
                            <% if (element.approved==='wait' ) { %>
                                <p><i class="bi bi-exclamation-circle"></i> votre cours est cours de vérification! <a
                                        href=""> A savoir plus sur les rêgles de validations</a></p>
                                <% } else if (element.approved==='yes' ) { %>
                                    <p><i class="bi bi-check-circle"></i></i> vérifié </p>
                                    <% } else { %>
                                        <p><i class="bi bi-x-circle"></i></i>Non vérifié </p>
                                        <% } %>
                                            <div>

                                                <div>
                                                    <p>Informations sur le cours</p>
                                                    <img src="<%= element.thumbail || '' %>" alt="">
                                                    <p>
                                                        <%= element.name && typeof  element.name!=="undefined" ? element.name : '' %>
                                                    </p>
                                                    <p class="desc">
                                                        <%- element.description && typeof  element.description!=="undefined" ? element.description : '' %>

                                                    </p>

                                                </div>
                                                <div>
                                                    <p>
                                                        <%= element.categorie && typeof  element.categorie!=="undefined" ? element.categorie : '' %>
                                                    </p>
                                                    <p>
                                                        <%= element.user && typeof  element.user!=="undefined" && element.user.name ? element.user.name : 'Inconnu' %>
                                                    </p>
                                                    <p>
                                                        <%= element.difficultyLevel && typeof  element.difficultyLevel!=="undefined" ? element.difficultyLevel : '' %>
                                                    </p>
                                                    <p>
                                                        <%= element.typologie && typeof  element.typologie!=="undefined" ? element. typologie : '' %>
                                                    </p>
                                                    <p>
                                                        <%= element.prix  && typeof  element.prix!=="undefined"? element.prix : '' %>
                                                    </p>
                                                    <p>
                                                        <%= element.language && typeof  element.language!=="undefined" ? element.language : '' %>
                                                    </p>
                                                    <p>
                                                        <%= element.courseTime && typeof element.courseTime!=="undefined" ? element.courseTime : '' %>
                                                    </p>
                                                    <div>
                                                        <%=typeof element.lessons !==null && typeof element.lessons
                                                            !=='undefined' && element.length> 0 ? element.courseTime :
                                                            'Les cours que vous publierez a propos de ce cours s afficheront ici' %>

                                                    </div>
                                                </div>
                                            </div>
                        </div>
                        <!--mettre a jour le cour-->
                        <div class="update-course" style="display: none;">
                            <form action="/profile/cours/<%= element.slug %>?_method=PUT" id="form" enctype="multipart/form-data" method="post">
                                <div>
                                    <input type="submit" value="Enregister">
                                    <button class="cancel">Annuler</button>
                                </div>
                                <div>
                                    <p>Miniature du cours</p>
                                    <div class="image-bl-preview">
                                        <img src="<%= element.thumbail || '' %>" alt="thumbail" >
                                    </div>
                                    <button class="btn-image">importer une image</button>
                                    <input type="file" id="thumbail" name="thumbail" hidden accept="image/*">
                                </div>
                                <!-- <div>
                                <p>Video de résumé du cours</p>
                                <span>votre video doit étre au format mp4</span>
                                <div class="video-bl-preview">
                                 
                                </div>
                                <button class="btn-video">importer une video</button>
                                <input   type="file" id="videoResumeCourse" name="videoResumeCourse"  hidden accept="video/*">
                            </div> -->
                                <div>
                                    <label for="name">Nom du cours</label>
                                    <input type="text"
                                        value="<%= typeof element.name !== 'undefined' && element.name ? element.name :"" %>"
                                        placeholder="ex: apprendre node js" name="name" id="name">
                                </div>
                                <div>
                                    <label for=courseTime">Dureé du cours</label>
                                    <input type="text" value="<%= typeof element.courseTime !== 'undefined' && element.courseTime  ? element.courseTime
             :"" %>" name="courseTime" id="courseTime">
                                </div>
                                <div>
                                    <label for="categorie">A quel catégorie appartient votre cours</label>
                                    <select name="categorie" id="categorie">
                                        <option <%=typeof element.categorie !=='undefined' && element.categorie &&
                                        element.categorie==='programmation' ? 'selected' :"" %>
                                            value="programmation">Programmation</option>
                                        <option <%=typeof element.categorie !=='undefined' && element.categorie &&
                                        element.categorie==='web développement' ? 'selected' :"" %> value="web
                                            développement">Web développement</option>
                                        <option <%=typeof element.categorie !=='undefined' && element.categorie &&
                                        element.categorie==='graphics design' ? 'selected' :"" %>
                                            value="graphics design">Graphics design</option>
                                        <option <%=typeof element.categorie !=='undefined' && element.categorie &&
                                        element.categorie==='outils offices' ? 'selected' :"" %> value="outils
                                            offices">Outils offices</option>
                                    </select>
                                </div>
                                
                                <div>
                                    <label for="prix">Prix de la formation</label>
                                    <input
                                        value="<%= typeof element.prix !== 'undefined' && element.prix   ? element.prix :"" %>"
                                        type="number" placeholder="ex: 20000f" name="prix" id="prix">
                                </div>
                                <div>
                                    <label for="typologie">Typlogie du cours</label>
                                    <select name="typologie" id="typlogie">
                                        <option <%=typeof element.typlogie !=='undefined' && element.typlogie &&
                                        element.typlogie==='premium' ? 'selected' :"" %>
                                            value="premium">Premium</option>
                                        <option <%=typeof element.typlogie !=='undefined' &&element.typlogie &&
                                        element.typlogie==='gratuit' ? 'selected' :"" %>
                                            value="gratuit">Gratuit</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="difficulty">Niveau de difficulté</label>
                                    <select name="difficultyLevel" id="difficulty">
                                        <option <%=typeof element.difficultyLevel !=='undefined' && element.difficultyLevel &&
                                        element.difficultyLevel==='débutant' ? 'selected' :"" %>
                                            value="débutant">Débutant</option>
                                        <option <%=typeof element.difficultyLevel !=='undefined' && element.difficultyLevel &&
                                        element.difficultyLevel==='intermédiare' ? 'selected' :"" %>
                                            value="intermédiare">Intermédiare</option>
                                        <option <%=typeof element.difficultyLevel !=='undefined' && element.difficultyLevel &&
                                        element.difficultyLevel==='avancé' ? 'selected' :"" %>
                                            value="avancé">Avancé</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="language">Language du cours</label>
                                    <select name="language" id="language">
                                        <option <%=typeof element.language !=='undefined' &&  element.language &&
                                        element.language==='français' ? 'selected' :"" %>
                                            value="français">Français</option>
                                        <option <%=typeof  element.language !=='undefined' &&  element.language &&
                                        element.language==='anglais' ? 'selected' :"" %>
                                            value="anglais">Anglais</option>
                                    </select>
                                </div>
                                <textarea id="textarea"
                                    name="description"><%= typeof  element.description !== 'undefined' &&element.description  && element.description  ? element.description :"" %></textarea>
                                

                            </form>

                          
                        </div>
                        <!--afficher les autre cours le cour-->

                        <% }) %>

                            <% } %>

                                <div>
                                    <% if (typeof courses !=='undefined' ) { %>
                                        <% courses.forEach(element=> { %>
                                            <% if (element.approved==='wait' ) { %>
                                                <p><i class="bi bi-exclamation-circle"></i> votre cours est cours de
                                                    vérification! <a href=""> A savoir plus sur les rêgles de
                                                        validations</a></p>
                                                <% } else if (element.approved==='yes' ) { %>
                                                    <p><i class="bi bi-check-circle"></i></i> vérifié </p>
                                                    <% } else { %>
                                                        <p><i class="bi bi-x-circle"></i></i>Non vérifié </p>
                                                        <% } %>
                                                            <a href="/profile/cours/<%= element.slug %>">

                                                                <div>
                                                                    <img src="<%= element.thumbail || '' %>" alt="">
                                                                    <p>
                                                                        <%= element.name ? element.name : '' %>
                                                                    </p>
                                                                    <p>
                                                                        <%= element.user ? element.user.name : 'Inconnu'
                                                                            %>
                                                                    </p>
                                                                    <p>
                                                                        <%= element.prix ? element.prix : '' %>
                                                                    </p>
                                                                    <p>
                                                                        <%= element.courseTime ? element.courseTime : ''
                                                                            %>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                            <% }) %>
                                                                <% } %>
                                </div>
                                <%- include("partiel/tinymces")%>

                                <%- include("partiel/upload-image")%>

                                <script>
                                    const modify = document.querySelector(".modify")
                                    const cancel = document.querySelector(".cancel")
                                    const aboutCourse = document.querySelector(".aboutCourse")
                                    const update_course = document.querySelector(".update-course")
                                    modify.addEventListener("click", () => {
                                        aboutCourse.style.display = 'none'
                                        update_course.style.display = 'block'
                                    })
                                    cancel.addEventListener("click", (e) => {
                                        e.preventDefault()
                                        aboutCourse.style.display = 'block'
                                        update_course.style.display = 'none'
                                    })
                                </script>
        </body>

        </html>