<%- include("partiel/head",{title: course.slug }) %>

        </head>

        <body>
            <%- include("partiel/header") %>
            <main id="content-page">
                <div>

                    <%=typeof message !=='undefined' && message && message.message?message.message : '' %>
                        <%=typeof message !=='undefined' && message ? message : '' %>
                </div>



                <% if (typeof course !=='undefined' && course !== null) { %>
                    
                        <div class="aboutCourse">
                            <% if (status===true) { %>
                                <button class="modify">Modifier le cours</button>
                                <form action="/cours/<%= course.slug %>?_method=DELETE" method="post">
                                    <input type="submit" value="Supprimer le cours">
                                </form>
                            <% } %>
                            
                            
                            <% if (course.approved==='wait' ) { %>
                                <p ><i
                                        class="bi bi-exclamation-circle"></i> en attente</p>
                                <% } else if (course.approved==='yes' ) { %>
                                    <p ><i
                                            class="bi bi-check-circle"></i></i> cours vérifié
                                    </p>
                                    <% } else { %>
                                        <p ><i
                                                class="bi bi-x-circle"></i></i> cours non
                                            vérifié !</p>
                                        <% } %>
                                    
                                      
                                            <div>

                                                <div>
                                                    <p>Informations sur le cours</p>
                                                    <img src="<%= course.thumbail || '' %>" alt="">
                                                    <p>
                                                        <%= course.name && typeof  course.name!=="undefined" ? course.name : '' %>
                                                    </p>
                                                    <p class="desc">
                                                        <%- course.description && typeof  course.description!=="undefined" ? course.description : '' %>

                                                    </p>

                                                </div>
                                                <div>
                                                    <p>
                                                        <%= course.categorie && typeof  course.categorie!=="undefined" ? course.categorie : '' %>
                                                    </p>
                                                    <p>
                                                        <%= course.user && typeof  course.user!=="undefined" && course.user.name ? course.user.name : 'Inconnu' %>
                                                    </p>
                                                    <p>
                                                        <%= course.difficultyLevel && typeof  course.difficultyLevel!=="undefined" ? course.difficultyLevel : '' %>
                                                    </p>
                                                    <p>
                                                        <%= course.typologie && typeof  course.typologie!=="undefined" ? course. typologie : '' %>
                                                    </p>
                                                    <p>
                                                        <%= course.prix  && typeof  course.prix!=="undefined"? course.prix : '' %>
                                                    </p>
                                                    <p>
                                                        <%= course.language && typeof  course.language!=="undefined" ? course.language : '' %>
                                                    </p>
                                                    <p>
                                                        <%= course.courseTime && typeof course.courseTime!=="undefined" ? course.courseTime : '' %>
                                                    </p>
                                                    <div>
                                                        <%=typeof course.lessons !==null && typeof course.lessons
                                                            !=='undefined' && course.length> 0 ? course.courseTime :
                                                            'Les cours que vous publierez a propos de ce cours s afficheront ici' %>

                                                    </div>
                                                    <% if (status===false) { %>
                                                        <form action="" class="form_submit">
                                                            <button type="submit"
                                                                title="Add to Card"
                                                                class="submit add-card">
                                                                <img class="loader-img"
                                                                    src="/images/spin.png"
                                                                    alt="spinner">
                                                                <div>
                                                                    <i class="bi bi-cart-fill"></i>
                                                                    <span>Ajouter au panier</span>
                                                                </div>
                                                            </button>
                                                        </form>
                                                        <% } %>
                            
                                                    
                                                </div>
                                            </div>
                                           

                        </div>
                        <div class="update-course" style="display: none;">
                            <form action="/cours/<%= course.slug %>?_method=PUT" id="form" enctype="multipart/form-data" method="post">
                                <div>
                                    <input type="submit" value="Enregister">
                                    <button class="cancel">Annuler</button>
                                </div>
                                <div>
                                    <p>Miniature du cours</p>
                                    <div class="image-bl-preview">
                                        <img src="<%= course.thumbail || '' %>" alt="thumbail" >
                                    </div>
                                    <button class="btn-image">importer une image</button>
                                    <input type="file" id="thumbail" name="thumbail" hidden accept="image/*">
                                </div>
                                
                                <div>
                                    <label for="name">Nom du cours</label>
                                    <input type="text"
                                        value="<%= typeof course.name !== 'undefined' && course.name ? course.name :"" %>"
                                        placeholder="ex: apprendre node js" name="name" id="name">
                                </div>
                                <div>
                                    <label for="courseTime">Dureé du cours</label>
                                    <input type="text" value="<%= typeof course.courseTime !== 'undefined' && course.courseTime  ? course.courseTime
             :"" %>" name="courseTime" id="courseTime">
                                </div>
                                <div>
                                    <label for="categorie">A quel catégorie appartient votre cours</label>
                                    <select name="categorie" id="categorie">
                                        <option <%=typeof course.categorie !=='undefined' && course.categorie &&
                                        course.categorie==='programmation' ? 'selected' :"" %>
                                            value="programmation">Programmation</option>
                                        <option <%=typeof course.categorie !=='undefined' && course.categorie &&
                                        course.categorie==='web développement' ? 'selected' :"" %> value="web
                                            développement">Web développement</option>
                                        <option <%=typeof course.categorie !=='undefined' && course.categorie &&
                                        course.categorie==='graphics design' ? 'selected' :"" %>
                                            value="graphics design">Graphics design</option>
                                        <option <%=typeof course.categorie !=='undefined' && course.categorie &&
                                        course.categorie==='outils offices' ? 'selected' :"" %> value="outils
                                            offices">Outils offices</option>
                                    </select>
                                </div>
                                
                                <div>
                                    <label for="prix">Prix de la formation</label>
                                    <input
                                        value="<%= typeof course.prix !== 'undefined' && course.prix   ? course.prix :"" %>"
                                        type="number" placeholder="ex: 20000f" name="prix" id="prix">
                                </div>
                                <div>
                                    <label for="typologie">Typlogie du cours</label>
                                    <select name="typologie" id="typlogie">
                                        <option <%=typeof course.typlogie !=='undefined' && course.typlogie &&
                                        course.typlogie==='premium' ? 'selected' :"" %>
                                            value="premium">Premium</option>
                                        <option <%=typeof course.typlogie !=='undefined' &&course.typlogie &&
                                        course.typlogie==='gratuit' ? 'selected' :"" %>
                                            value="gratuit">Gratuit</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="difficulty">Niveau de difficulté</label>
                                    <select name="difficultyLevel" id="difficulty">
                                        <option <%=typeof course.difficultyLevel !=='undefined' && course.difficultyLevel &&
                                        course.difficultyLevel==='débutant' ? 'selected' :"" %>
                                            value="débutant">Débutant</option>
                                        <option <%=typeof course.difficultyLevel !=='undefined' && course.difficultyLevel &&
                                        course.difficultyLevel==='intermédiare' ? 'selected' :"" %>
                                            value="intermédiare">Intermédiare</option>
                                        <option <%=typeof course.difficultyLevel !=='undefined' && course.difficultyLevel &&
                                        course.difficultyLevel==='avancé' ? 'selected' :"" %>
                                            value="avancé">Avancé</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="language">Language du cours</label>
                                    <select name="language" id="language">
                                        <option <%=typeof course.language !=='undefined' &&  course.language &&
                                        course.language==='français' ? 'selected' :"" %>
                                            value="français">Français</option>
                                        <option <%=typeof  course.language !=='undefined' &&  course.language &&
                                        course.language==='anglais' ? 'selected' :"" %>
                                            value="anglais">Anglais</option>
                                    </select>
                                </div>
                                <textarea id="textarea"
                                    name="description"><%- typeof  course.description !== 'undefined' && course.description  && course.description  ? course.description :"" %></textarea>
                                

                            </form>

                          
                        </div>

                            <% } %>

                                <div>
                                    <% if (typeof courses !=='undefined' ) { %>
                                        <% courses.forEach(element=> { %>
                                            <% if (element.approved==='yes' ) { %>
                                                    <p><i class="bi bi-check-circle"></i></i> vérifié </p>
                                                    
                                                        
                                                            <a href="/cours/<%= element.slug %>">

                                                                <div>
                                                                    <img src="<%= element.thumbail || '' %>" alt="">
                                                                    <p>
                                                                        <%= element.name ? element.name : '' %>
                                                                    </p>
                                                                    <p>
                                                                        <%= element.user ? element.user.name : 'Inconnu'
                                                                            %>
                                                                    </p>
                                                                    <p>
                                                                        <%= element.prix ? element.prix : '' %>
                                                                    </p>
                                                                    <p>
                                                                        <%= element.courseTime ? element.courseTime : ''
                                                                            %>
                                                                    </p>
                                                                </div>
                                                            </a>
                                                            <% } %>
                                                            <% }) %>
                                                                <% } %>
                                </div>
                            </main>

                                <%- include("partiel/upload-image")%>

                                <script>
                                    const modify = document.querySelector(".modify")
                                    const cancel = document.querySelector(".cancel")
                                    const aboutCourse = document.querySelector(".aboutCourse")
                                    const update_course = document.querySelector(".update-course")
                                    modify.addEventListener("click", () => {
                                        aboutCourse.style.display = 'none'
                                        update_course.style.display = 'block'
                                    })
                                    cancel.addEventListener("click", (e) => {
                                        e.preventDefault()
                                        aboutCourse.style.display = 'block'
                                        update_course.style.display = 'none'
                                    })
                                </script>
                                            <%- include('partiel/buttonLoader') %>
                                            <%- include('partiel/pageLoader') %>



        </body>

        </html>