<%- include("partiel/head",{title:'update or delete Course'}) %>
</head>
<body>
    <%- include("partiel/header") %>
    <div>

        <%= message && message.message?message.message : '' %>
        <%= message ? message : '' %>
    </div>
    
    <div>
        <% if (typeof course !== 'undefined' && course.length > 0) { %>
            <% course.forEach(element => { %>
                <% if (element.approved ==='wait') { %>
                         <p><i class="bi bi-exclamation-circle"></i> votre cours est cours de vérification! <a href="">  A savoir plus sur les rêgles de validations</a></p>
                <% } else if (element.approved ==='yes') { %>
                    <p><i class="bi bi-check-circle"></i></i> vérifié </p>
                    <% } else { %>
                        <p><i class="bi bi-x-circle"></i></i>Non vérifié </p>
                <% } %>
            <a href="/profile/cours/<%= element.slug %>?name=
                <%=element.name%>">
                    
                <div>
                    <img src="<%= element.thumbail || '' %>" alt="">
                    <p><%= element.name ? element.name : '' %></p>
                    <p><%= element.user ? element.user.name : 'Inconnu' %></p>
                    <p><%= element.prix ? element.prix : '' %></p>
                    <p><%= element.courseTime ? element.courseTime : '' %></p>
                </div></a>
            <% }) %>
        <% } %>
    </div>
</body>
</html>