<%- include("partiel/head",{title: course.slug }) %>

        </head>

        <body>
            <%- include("partiel/header") %>
            <main id="content-page">
                <section class="barner-short">
                    <div class="container">
                            <h1><%= course.name && typeof  course.name!=="undefined" ? course.name : '' %>
                            </h1>
                    </div>
                    <img src="/images/slider-bottom-pattern.png" alt="pattern">
                </section>
                
                    <% if (typeof message !=='undefined' && message !==null && message.success ) { %>
                        <div class="new-sucess disapied">
                            <p >
                            <i class="bi bi-check-circle"></i>
                            <%= message.success %>
                            </p>
                            <i class="bi bi-x"></i>
                        </div>
                            <% } %>
                            <% if (typeof message !=='undefined' && message.error ) { %>
                                <div class="new-error disapied">
                                    <p>
                                        <i class="bi bi-exclamation-triangle"></i>
                                    <%= message.error %>
                                    </p>
                                    <i class="bi bi-x"></i>
                                </div>
                                    <% } %>

<section>
    <div class="container">

    
                <% if (typeof course !=='undefined' && course !== null) { %>
                    
                        <div class="aboutCourse">
                            <% if (status===true) { %>
                                <div class="nav-btn-custom">
                                    <button class="modify" id="custum-button">Modifier l'article</button>
                                    <form action="/cours/<%= course.slug %>?_method=DELETE" method="post">

                                        <input type="submit" id="custum-button" value="Supprimer le cours">
                                    </form>
                                    
                                </div>
                                
                                
                            <% } %>
                            <div class="infosCourse">

                           
                                      
                                            <div class="courseIntro">
                                                <img src="<%= course.thumbail || '' %>" alt="">
                                                <p class="courseTitle">
                                                    <%= course.name && typeof  course.name!=="undefined" ? course.name : '' %>
                                                </p>
                                                <div class="courseTeacherInfos">
                                                    <a href="/<%=course.user.slug %>"> <img src="<%= course.user.profilePicture || ""  %>" alt="">
                                                        <p>
                                                            <%= course.user && typeof  course.user!=="undefined" && course.user.name ? course.user.name : 'Inconnu' %>
                                                        </p></a>
                                                   
                                                </div>
                                                <p class="desc">
                                                    <%- course.description && typeof  course.description!=="undefined" ? course.description : '' %>

                                                </p>
                                        </div>
                                        <div class="courseDetail-intro">
                                            <div class="courseDetail">
                                                <div>
                                                    <span><i class="bi bi-person-fill"></i>
                                                        Nom du professeur
                                                    </span>
                                                    <p>
                                                        <%= course.user && typeof  course.user!=="undefined" && course.user.name ? course.user.name : 'Inconnu' %>
                                                    </p>
                                                </div> 
                                                <div>
                                                    <span>
                                                        <i class="bi bi-collection-fill"></i> Catégorie
                                                    </span>
                                                    <p>
                                                            <%= course.categorie && typeof  course.categorie!=="undefined" ? course.categorie : '' %>
                                                    </p>
                                                </div> 
                                                <div>
                                                    <span>
                                                        <i class="bi bi-fire"></i>
                                                        Niveau de difficulté
                                                    </span>
                                                    <p>
                                                        <%= course.difficultyLevel && typeof  course.difficultyLevel!=="undefined" ? course.difficultyLevel : '' %>
                                                    </p>
                                                </div>
                                                <div>
                                                    <span>
                                                        <i class="bi bi-stack"></i> Typologie
                                                    </span>
                                                    <p>
                                                        <%= course.typologie && typeof  course.typologie!=="undefined" ? course. typologie : '' %>
                                                    </p>
                                                </div>  
                                                <div>
                                                    <span><i class="bi bi-tags-fill"></i> Prix</span>
                                                    <p>
                                                        <%= course.prix  && typeof  course.prix!=="undefined"? course.prix : '-----' %> XOF
                                                    </p>
                                                </div> 
                                                <div>
                                                    <span><i class="bi bi-volume-down-fill"></i>Language</span>
                                                    <p>
                                                        <%= course.language && typeof  course.language!=="undefined" ? course.language : '' %>
                                                    </p>
                                                </div> 
                                                <div>
                                                    <span>
                                                        <i class="bi bi-alarm-fill"></i>Dureé
                                                    </span>
                                                    <p>
                                                        <%= course.courseTime && typeof course.courseTime!=="undefined" ? course.courseTime : '' %> h
                                                    </p>
                                                </div>
                                                <% if (status===false) { %>
                                                    <form action="" class="form_submit" >
                                                        <button type="submit"
                                                            title="Add to Card"
                                                            class="submit add-card">
                                                            <img class="loader-img"
                                                                src="/images/spin.png"
                                                                alt="spinner">
                                                            <div>
                                                                <i class="bi bi-cart-fill"></i>
                                                                <span>Achété</span>
                                                            </div>
                                                        </button>
                                                    </form>
                                                    <% } %>  
                                                    
                                                    </div>
                                                    <div class="content-video">
                                                        <h4 style="margin-bottom: 10px;">Contenue video</h4>
                                                        <% if (course && course.lessons && course.lessons.length > 0) { %>
                                                            <span>Moi-même</span>
                                                        <% } else { %>
                                                            <span style="color: gray;font-style: italic;">Les contenues vidéos publié à propos de ce cours s'afficheront ici</span>
                                                        <% } %>
                                                        
                                                    </div> 
                                                </div>
                                               
                                            </div>
                                            
                                        </div>
                        </div>
                        <div class="update-course" style="display: none;">
                            
                            <form action="/cours/<%= course.slug %>?_method=PUT" id="form form_course" enctype="multipart/form-data" method="post" >
                                <div>
                                    <input type="submit" value="Enregister">
                                    <button class="cancel">Annuler</button>
                                </div>
                                <div>
                                    <p>Miniature du cours</p>
                                    <div class="image-bl-preview">
                                        <img src="<%= course.thumbail || '' %>" alt="thumbail" >
                                    </div>
                                    <button class="btn-image">importer une image</button>
                                    <input type="file" id="thumbail" name="thumbail" hidden accept="image/*">
                                </div>
                                
                                <div>
                                    <label for="name">Nom du cours</label>
                                    <input type="text"
                                        value="<%= typeof course.name !== 'undefined' && course.name ? course.name :"" %>"
                                        placeholder="ex: apprendre node js" name="name" id="name">
                                </div>
                                <div>
                                    <label for="courseTime">Dureé du cours</label>
                                    <input type="text" value="<%= typeof course.courseTime !== 'undefined' && course.courseTime  ? course.courseTime
             :"" %>" name="courseTime" id="courseTime">
                                </div>
                                <div>
                                    <label for="categorie">A quel catégorie appartient votre cours</label>
                                    <select name="categorie" id="categorie">
                                        <option <%=typeof course.categorie !=='undefined' && course.categorie &&
                                        course.categorie==='programmation' ? 'selected' :"" %>
                                            value="programmation">Programmation</option>
                                        <option <%=typeof course.categorie !=='undefined' && course.categorie &&
                                        course.categorie==='web développement' ? 'selected' :"" %> value="web
                                            développement">Web développement</option>
                                        <option <%=typeof course.categorie !=='undefined' && course.categorie &&
                                        course.categorie==='graphics design' ? 'selected' :"" %>
                                            value="graphics design">Graphics design</option>
                                        <option <%=typeof course.categorie !=='undefined' && course.categorie &&
                                        course.categorie==='outils offices' ? 'selected' :"" %> value="outils
                                            offices">Outils offices</option>
                                    </select>
                                </div>
                                
                                <div>
                                    <label for="prix">Prix de la formation</label>
                                    <input
                                        value="<%= typeof course.prix !== 'undefined' && course.prix   ? course.prix :"" %>"
                                        type="number" placeholder="ex: 20000f" name="prix" id="prix">
                                </div>
                                <div>
                                    <label for="typologie">Typlogie du cours</label>
                                    <select name="typologie" id="typlogie">
                                        <option <%=typeof course.typlogie !=='undefined' && course.typlogie &&
                                        course.typlogie==='premium' ? 'selected' :"" %>
                                            value="premium">Premium</option>
                                        <option <%=typeof course.typlogie !=='undefined' &&course.typlogie &&
                                        course.typlogie==='gratuit' ? 'selected' :"" %>
                                            value="gratuit">Gratuit</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="difficulty">Niveau de difficulté</label>
                                    <select name="difficultyLevel" id="difficulty">
                                        <option <%=typeof course.difficultyLevel !=='undefined' && course.difficultyLevel &&
                                        course.difficultyLevel==='débutant' ? 'selected' :"" %>
                                            value="débutant">Débutant</option>
                                        <option <%=typeof course.difficultyLevel !=='undefined' && course.difficultyLevel &&
                                        course.difficultyLevel==='intermédiare' ? 'selected' :"" %>
                                            value="intermédiare">Intermédiare</option>
                                        <option <%=typeof course.difficultyLevel !=='undefined' && course.difficultyLevel &&
                                        course.difficultyLevel==='avancé' ? 'selected' :"" %>
                                            value="avancé">Avancé</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="language">Language du cours</label>
                                    <select name="language" id="language">
                                        <option <%=typeof course.language !=='undefined' &&  course.language &&
                                        course.language==='français' ? 'selected' :"" %>
                                            value="français">Français</option>
                                        <option <%=typeof  course.language !=='undefined' &&  course.language &&
                                        course.language==='anglais' ? 'selected' :"" %>
                                            value="anglais">Anglais</option>
                                    </select>
                                </div>
                                <textarea id="textarea"
                                    name="description"><%- typeof  course.description !== 'undefined' && course.description  && course.description  ? course.description :"" %></textarea>
                                

                            </form>

                          
                        </div>

                            <% } %>
                            
<div class="container">


                               
                            <p class="" style="text-align: center;font-weight: bold;margin-top: 70px;font-size: 25px;">Ces cours pouront aussi vous intéréssez</p>

                                <div class="sujection-course">
                                    <% if (typeof courses !=='undefined' ) { %>
                                        <% courses.forEach(element=> { %>
                                            <div class="courseSujected">
                                                            <a href="/cours/<%= element.slug %>">
                                                                    <img src="<%= element.thumbail || '' %>" alt="">
                                                                    <p>
                                                                        <%= element.name ? element.name : '' %>
                                                                    </p>
                                                            </a>
                                                            <div class="btn-sujet">
                                                               <button>
                                                                <i class="bi bi-eye-fill"></i>  voir
                                                               </button>
                                                               <a href="">
                                                                <i class="bi bi-cart-fill"></i>
                                                                   <span>Commander</span>
                                                               </a>
                                                            </div>
                                                        </div>
                                                            
                                                            <% }) %>
                                                                <% } %>
                                
                           
                            </div>
                        </div>
                        </section>
                            </main>

                                <%- include("partiel/upload-image")%>

                                <script>
                                    const modify = document.querySelector(".modify")
                                    const cancel = document.querySelector(".cancel")
                                    const aboutCourse = document.querySelector(".aboutCourse")
                                    const update_course = document.querySelector(".update-course")
                                    modify.addEventListener("click", () => {
                                        aboutCourse.style.display = 'none'
                                        update_course.style.display = 'block'
                                    })
                                    cancel.addEventListener("click", (e) => {
                                        e.preventDefault()
                                        aboutCourse.style.display = 'block'
                                        update_course.style.display = 'none'
                                    })
                                </script>
                                            <%- include('partiel/buttonLoader') %>
                                            <%- include('partiel/pageLoader') %>



        </body>

        </html>
        						




