<%- include('../partiel/head',{title:"Login"}) %>
</head>
    <body>
        <section class="login">
            <div class="img-bl">
                <img src="/images/login.webp" alt="login-picture">
            </div>
            <div class="form">
                <div class="login-logo-connect flex-box-squares">
                    <img src="/images/logo.webp" alt="logo">
                    <p>Connectez-vous à votre compte de pages</p>
                </div>
                <form action="" class="" method="post">
                    <% if ( typeof error !=='undefined' && error !== null) { %>
                        <div class="new-error disapied">
                            <p>
                                <i class="bi bi-exclamation-triangle"></i>
                            <%= error %>
                            </p>
                            <i class="bi bi-x"></i>
                        </div>
                    <% } %>
                    <div>
                        <label for="email">Email:</label>
                        <div>
                            <input  placeholder="email" type="email" id="email" name="email"
                                value="<%=typeof message !=='undefined' &&typeof message.email !==" undefined" ?
                                message.email : "" %>">

                            <% if (typeof message.error_msg_field_email !=='undefined') { %>
                                <span class="err-message">
                                    <%= message.error_msg_field_email %>
                                </span>
                                <% } %>


                                    <% if (typeof message.email_notExist !=='undefined' ) { %>
                                        <p class="err-message">
                                            <%= message.email_notExist %>
                                        </p>
                                        <% } %>

                        </div>
                    </div>
                    <div>
                        <label for="password">Mot de passe:</label>
                        <div>
                            <div class="input-pass-eyex">
                                <input placeholder="***********" type="password" id="password" name="password"
                                    value="<%=typeof message !=='undefined' && typeof message.password !== 'undefined'? message.password : '' %>" />
                                    <span class="eyes"><i class="bi bi-eye-slash"></i></span>

                            </div>
                            <div class="err-forget flex-box-text">
                                <span class="err-message">
                                    <% if (typeof message.password_length !=='undefined' ) { %>
                                        <%= message.password_length %>
                                            <% } %>
                                    <% if (typeof message.error_msg_field_password !=='undefined' ) { %>
                                                    <%= message.error_msg_field_password %>
                                                        <% } %>
                                                            <% if (typeof message.incorrect_password !=='undefined' ) {
                                                                %>
                                                                <%= message.incorrect_password %>
                                                                    <% } %>


                                </span>
                                <div>

                                    <a href="/forget-password">Mot de passe oublié</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <input type="submit" class="submit" value="Se connecter">
                    </div>
                    <p class="or">Or Login With</p>
                    <div class="auth-google ">

                        <a href="/auth/google"><i class="bi bi-google"></i><span>continuer avec google</span></a>
                    </div>
                    <p class="not-regis">
                        Je n'ai pas de compte?
                        <a href="/register"> Inscrire</a>

                    </p>
                </form>

            </div>
        </section>
<%- include('../partiel/news') %>

<script>
    const eyes_bl = document.querySelector(".eyes")
    const eyes_icon = document.querySelector(".eyes i")
    const input_password = document.querySelector("input[type='password']")
    let eyes_open = false

    eyes_bl.addEventListener('click',()=>{
        eyes_open = !eyes_open
        
        if(eyes_open==true){
            eyes_bl.innerHTML="<i class='bi bi-eye'></i>"
            input_password.setAttribute("type","text")
            input_password.setAttribute("placeholder","password")
        }
        if(eyes_open==false){
            eyes_bl.innerHTML="<i class='bi bi-eye-slash'></i>"
            input_password.setAttribute("type","password")
            input_password.setAttribute("placeholder","*********")
        }

    })
    
    
</script>
</body>

</html>