<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
   <form action=""  method="post">
        <p class="ins_conn">Se connecter</p>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="<%=typeof message !=='undefined' &&typeof message.email !=="undefined" ? message.email : ""  %>">
            <span>
                <% if (typeof message.error_msg_field_email !== 'undefined' && error_msg_field_email.length > 0) { %>
                    <%= message.error_msg_field_email %>
                <% } %>
            </span>
            <p><% if (typeof message.email_notExist !== 'undefined' ) { %>
               <%= message.email_notExist %>
            <% } %></p>
        </div>
        <div>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" value="<%=typeof message !=='undefined' && typeof message.password !== 'undefined'? message.password : '' %>" />
            <span>
                <% if (typeof message.password_length !== 'undefined') { %>
                    <%= message.password_length %>
                <% } %>
                <% if (typeof message.error_msg_field_password !== 'undefined') { %>
                    <%= message.error_msg_field_password %>
                <% } %>
                <% if (typeof message.incorrect_password !== 'undefined') { %>
                    <%= message.incorrect_password %>
                <% } %>

                
            </span>
        </div>
        <div>
            <input type="submit" class="submit" value="Se connecter">
        </div>
        <p>
            <a class="btn_cons_reg" href="/register">S'inscrire</a>
            
        </p>
    </form> 
    <a href="/auth/google">continuer  avec google</a>

    <p><a href="/forget-password">Mot de passe oublier</a></p>
   
</body>
</html>
