<%- include('../partiel/head',{title:"Login"}) %>
    <link rel="stylesheet" href="/styles/login.css">
    </head>

    <body>
        <section class="login">
            <div class="img-bl">
                <img src="/images/login.webp" alt="login-picture">
            </div>
            <div class="form">
                <div class="login-logo-connect flex-box-squares">
                    <img src="/images/logo.webp" alt="logo">
                    <p>Connectez-vous à votre compte de pages</p>
                </div>
                <form action="" class="" method="post">
                    <div>
                        <label for="email">Email:</label>
                        <input placeholder="email" type="text" id="email" name="email"
                            value="<%=typeof message !=='undefined' &&typeof message.email !==" undefined" ?
                            message.email : "" %>">
                        <span>
                            <% if (typeof message.error_msg_field_email !=='undefined' &&
                                message.error_msg_field_email.length> 0) { %>
                                <%= message.error_msg_field_email %>
                                    <% } %>
                        </span>
                        <p>
                            <% if (typeof message.email_notExist !=='undefined' ) { %>
                                <%= message.email_notExist %>
                                    <% } %>
                        </p>
                    </div>
                    <div>
                        <label for="password">Mot de passe:</label>
                        <div>
                            <input type="password" id="password" name="password"
                                value="<%=typeof message !=='undefined' && typeof message.password !== 'undefined'? message.password : '' %>" />
                            <div class="err-forget flex-box-text">
                                <span>
                                    <% if (typeof message.password_length !=='undefined' ) { %>
                                        <%= message.password_length %>
                                            <% } %>
                                                <% if (typeof message.error_msg_field_password !=='undefined' ) { %>
                                                    <%= message.error_msg_field_password %>
                                                        <% } %>
                                                            <% if (typeof message.incorrect_password !=='undefined' ) {
                                                                %>
                                                                <%= message.incorrect_password %>
                                                                    <% } %>


                                </span>
                                <div>

                                    <a href="/forget-password">Mot de passe oublier</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <input type="submit" class="submit" value="Se connecter">
                    </div>
                    <p class="or">Or Login With</p>
                    <div class="auth-google ">

                        <a href="/auth/google"><i class="bi bi-google"></i><span>continuer avec google</span></a>
                    </div>
                    <p>
                        je n'ai pas encore de compte !
                        <a href="/register">m'inscrire</a>

                    </p>
                </form>

            </div>
        </section>

    </body>

    </html>