<%- include('../partiel/head',{title:"Register"}) %>
    </head>

    <body>
        <main id="content-page">
        <section class="login">
            <div class="img-bl">
                <img src="/images/register.webp" alt="login-picture">
            </div>
            <div class="form">
                <div class="login-logo-connect flex-box-squares">
                    <img src="/images/logo.webp" alt="logo">
                    <p>Je m'inscris chez Maneliza trainning center</p>
                </div>
                <form action="" class="form_submit" method="post">
                    <div>
                        <label for="email">Email:</label>
                        <input placeholder="email" autocomplete="off" type="email" id="email" name="email"
                              value="<%=typeof message !=='undefined' && message.email !==" undefined" ? message.email
                            : "" %>">
                            <% if (typeof message.error_msg_field_email !=='undefined' &&
                                 message.error_msg_field_email.length>
                                0) { %>
                                    <span class="err-message">
                                <%= message.error_msg_field_email %>
                            </span>
                                    <% } %>
                                    <% if (typeof message.email_exist !=='undefined' ) { %>
                                        <p class="err-message">
                                <%= message.email_exist %>
                            </p>
                                    <% } %>
                    </div>
                    <div>
                        <label for="password">Mot de passe:</label>
                        <div>
                        <div class="input-pass-eyex">
                            <input placeholder="***********" autocomplete="off" type="password" id="password" name="password"
                                value="<%=typeof message !=='undefined' && typeof message.password !== 'undefined'? message.password : '' %>" />
                                <span class="eyes"><i class="bi bi-eye-slash"></i></span>
                        </div>

                            <% if (typeof message.password_length !=='undefined' ) { %>
                                <span class="err-message">
                                <%= message.password_length %>
                               </span>
                                    <% } %>
                                    <% if (typeof message.error_msg_field_password !=='undefined' ) { %>
                                            <span class="err-message">
                                                <%= message.error_msg_field_password %>
                                            </span>
                                                <% } %>
                                            </div>
                    </div>
                    <div>
                        <button type="submit" class="submit" >S'inscrire<img class="loader-img" src="/images/spin.png" alt="spinner"></button>
                    </div>
                    
                    <p class="condition">
                        En vous inscrivant, vous acceptez nos <a href="">Conditions d'utilisation</a> <br>  et notre <a href="">Politique de confidentialité</a> .
                    </p>
                    <p class="not-regis">
                        Vous avez déjà un compte ?
                        <a  href="/login">Se connecter</a>
                    </p>
                </form>
            </div>
        </section>
        </main>
        <%- include('../partiel/pageLoader') %>
        <%- include('../partiel/buttonLoader') %>
        <script>
            const eyes_bl = document.querySelector(".eyes")
            const eyes_icon = document.querySelector(".eyes i")
            const input_password = document.querySelector("input[type='password']")
            let eyes_open = false
        
            eyes_bl.addEventListener('click',()=>{
                eyes_open = !eyes_open
                
                if(eyes_open==true){
                    eyes_bl.innerHTML="<i class='bi bi-eye'></i>"
                    input_password.setAttribute("type","text")
                    input_password.setAttribute("placeholder","password")
                }
                if(eyes_open==false){
                    eyes_bl.innerHTML="<i class='bi bi-eye-slash'></i>"
                    input_password.setAttribute("type","password")
                    input_password.setAttribute("placeholder","*********")
                }
        
            })
            
        
        </script>
        
    </body>
    </html>