<%- include('../partiel/head',{title:"Register"}) %>
    </head>

    <body>
        <section class="login">
            <div class="img-bl">
                <img src="/images/register.webp" alt="login-picture">
            </div>
            <div class="form">
                <div class="login-logo-connect flex-box-squares">
                    <img src="/images/logo.webp" alt="logo">
                    <p>Je m'inscris chez Maneliza trainning center</p>
                </div>
                <form action="" method="post">
                    <div>
                        <label for="email">Email:</label>
                        <input placeholder="email" autocomplete="off" type="email" id="email" name="email"
                            value="<%=typeof message !=='undefined' && message.email !==" undefined" ? message.email
                            : "" %>">
                            <% if (typeof message.error_msg_field_email !=='undefined' &&
                                message.error_msg_field_email.length>
                                0) { %>
                                    <span class="err-message">
                                <%= message.error_msg_field_email %>
                            </span>
                                    <% } %>
                                    <% if (typeof message.email_exist !=='undefined' ) { %>
                                        <p class="err-message">
                                <%= message.email_exist %>
                            </p>
                                    <% } %>
                    </div>
                    <div>
                        <label for="password">Mot de passe:</label>
                        <input type="password" id="password" name="password"
                            value="<%=typeof message !=='undefined' && typeof message.password !== 'undefined'? message.password : '' %>" />
                            <% if (typeof message.password_length !=='undefined' ) { %>
                                <span class="err-message">
                                <%= message.password_length %>
                               </span>
                                    <% } %>
                                        <% if (typeof message.error_msg_field_password !=='undefined' ) { %>
                                            <span class="err-message">
                                                <%= message.error_msg_field_password %>
                                            </span>
                                                <% } %>
                    </div>
                    <div>
                        <input type="submit" class="submit" value="S'inscrire">
                    </div>
                    <p class="or">Or Login With</p>
                    <div class="auth-google ">

                        <a href="/auth/google"><i class="bi bi-google"></i><span>continuer avec google</span></a>
                    </div>
                    <p class="not-regis">
                        Vous avez déjà un compte ?
                        <a  href="/login">Se connecter</a>
                    </p>
                </form>
            </div>
        </section>
    </body>
    </html>