<%- include('../partiel/head',{title:"Send Email verification"}) %>

</head>

<body>
    <section class="login">
        <div class="img-bl">
             <img src="/images/forget.avif" alt="">
        </div>
        <div class="form">
            
                <% if (typeof message !=='undefined' && message.success ) { %>
                    <div class="new-sucess disapied">
                        <p >
                        <i class="bi bi-check-circle"></i>
                        <%= message.success %>
                        </p>
                        <i class="bi bi-x"></i>
                    </div>
                        <% } %>
                        <% if (typeof message !=='undefined' && message.error ) { %>
                            <div class="new-error disapied">
                                <p>
                                    <i class="bi bi-exclamation-triangle"></i>
                                <%= message.error %>
                                </p>
                                <i class="bi bi-x"></i>
                            </div>
                                <% } %>
            <div class="send-mail">
                <h1>un email de vérification vous sera envoyer</h1>
                <form action="/send-email-verified" method="post">
                   <input type="email" placeholder="email" name="" id=""
                    value="<%= typeof data.email !=='undefined' && data.email !== null ? data.email: "" %>" disabled>
                    <input type="submit" value="envoyer">
            </form>
            </div>
        </div>
    </section>
    <%- include('../partiel/news') %>

</body>

</html>