<header>

    <div class="flex-box-text">
        <p>
            le meilleur site e-learning de ton pays
        </p>
        <div class="flex-box-text">

            <a class="link-hover" href="">

                <i class="bi bi-facebook"></i>
            </a>
            <a class="link-hover" href="">
                <i class="bi bi-twitter-x"></i>
            </a>
            <a class="link-hover" href="">
                <i class="bi bi-youtube"></i>
            </a>
            <a class="link-hover" href="">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
    </div>


    <div class="bl-nav">
        <div class="flex-box-text">
            <a href="/">
                <p class="logo"><img src="/images/logo.webp" alt="logo"></p>
            </a>
            <div class="flex-box-squares nav-contact">
                <a title="Téléphone" href="tel:+673259041">
                    <p>
                        <i class="bi bi-telephone-fill"></i>
                    </p>
                    <div>
                        <span>Téléphone</span>
                        <span class="sm">+673259041</span>
                    </div>
                </a>
                <a href="mailto:">
                    <p>
                        <i class="bi bi-envelope-fill"></i>
                    </p>
                    <div>
                        <span>Email</span>
                        <span class="sm">lonzigerard@gmail.com</span>

                    </div>
                </a>
                <a href="">
                    <p>
                        <i class="bi bi-geo-alt-fill"></i>
                    </p>
                    <div>
                        <span>Adresse</span>
                        <span class="sm">Yaounde-Cameroun</span>
                    </div>
                </a>
            </div>

        </div>
        <div class="flex-box-text menu">
            <div>
                <ul class="auth">
                    <li><a href="/" >Accueil</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Cours</a></li>
                    <li><a href="">Professeurs</a></li>
                    <li><a href="">Ebook</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="">Contacts</a></li>
                </ul>
                <div class="menu-hambuger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <% if (typeof data !=='undefined' && data !==null && data.role==="user" ) { %>
                <div class="profil-log">
                    <div class="teach  link-hover-sm">
                        <a href="/become-teacher">Enseigner</a>
                    </div>
                    <% if (data.profilePicture) { %>
                        <div class="profile">
                            <a href="/profile" class="link-hover-sm">
                                        <div class="container-widht-anim">
                                            <div class="img-loader">
                                            </div>
                                        <img src="<%= data.profilePicture %>"
                                            alt="profile picture" >
                                
                            </div>
                            <span class="hide">
                                <%= data.name || '' %>
                            </span>
                            </a>

                    </div>
                    <% } %>
                </div>

            <% } else if (typeof data !=='undefined' && data !==null && data.role==="admin" ) { %>
                    <div class="profil-log">

                        <div class="profile">

                            <a href="/dashboard" class="link-hover-sm">
                                <div class="container-widht-anim">
                                <div class="img-loader">
                                </div>
                                    <img src="<%= data.profilePicture %>" alt="profile picture">
                                
                                   </div>
                                <span class="hide">
                                    <%= data.name %>
                                </span>
                            </a>
                        </div>

                    </div>

            <% } else if (typeof data !=='undefined' && data !==null && data.role==="professeur" ){ %>
                        <div class="profil-log">
                            <% if (data.approved) { %>

                                <div class="uoload-course ">
                                    <a href="/upload-course">
                                        <button <%=data.approved !=='no' && data.approved !=='wait' ?"" :"disabled"%> >
                                            <i class="bi bi-plus-lg"></i> publier <span>un cours</span> 
                                        </button>
                                    </a>

                                </div>
                                <% } %>
                                <% if (data.profilePicture) { %>
                                    <div class="profile">

                                            <a href="/profile" class="link-hover-sm">
                                                        <div class="container-widht-anim">
                                                            <div class="img-loader">
                                                            </div>
                                                <img
                                                            src="<%= data.profilePicture %>" alt="profile picture">

                                                       
                                                    </div>
                                                        <span class="hide">
                                                            <%= data.name || '' %>
                                                        </span>
                                                    </a>

                                                </div>
                                            <% } %>
                                        </div>

            <% } else { %>

                                        <a href="login">
                                            <div class="menu-login">
                                                SE CONNECTER
                                            </div>
                                        </a>


                               
                        
            <% } %>
        </div>
    </div>
</header>